## Scraping test

In [1]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

class Cricketer_Stats_Scraper:

    def __init__(self, player_name):
        self.player_name = player_name
        self.player_id = None
        self.player_url = None
    
        # Initialize class variables for storing stats
        self.battingstats = None
        self.bowlingstats = None
        self.allroundstats = None
        self.fieldingstats = None
        self.player_info = None

        # Set up the WebDriver and open the search URL
        options = webdriver.ChromeOptions()
        options.add_argument("--headless")  # Run in headless mode
        options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36")
        print("Setting up WebDriver...")
        self.driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

        # Call get_player_url() to fetch the player's URL and ID when the object is initialized
        self.get_player_url()

    def get_player_url(self):
        start_time = time.time()
        print(f"Extracting {self.player_name}'s player URL and Player ID....")
        search_url = f"https://search.espncricinfo.com/ci/content/site/search.html?search={self.player_name.lower().replace(' ', '%20')};type=player"
        self.driver.get(search_url)

        try:
            player_link_element = self.driver.find_element(By.CSS_SELECTOR, "h3.name.link-cta a")
            self.player_url = player_link_element.get_attribute("href")
            self.player_id = self.player_url.split('-')[-1]
            print(f"Extraction Successful for {self.player_name}.")
            end_time = time.time()
            print(f"Time taken to extract URL: {end_time - start_time:.2f} seconds")
        except Exception as e:
            print(f"Error in extracting {self.player_name}'s url:", e)
            return None, None

    def extract_inns_data(self, record_type):
        start_time = time.time()
        print(f"Starting extraction of {self.player_name}'s {record_type} stats....")
        
        # Construct the search URL based on record_type (batting, bowling, etc.)
        search_url = f"https://stats.espncricinfo.com/ci/engine/player/{self.player_id}.html?class=11;template=results;type={record_type};view=innings"
        
        # Open the URL
        self.driver.get(search_url)

        # Step 1: Extract the headers of the table
        headers = self.driver.find_elements(By.CSS_SELECTOR, "thead tr.headlinks th")
        header_names = [header.text for header in headers if header.text != ''] + ['Match id']  # Add match_id column name
        
        # Step 2: Extract the data from the 4th tbody
        rows = self.driver.find_elements(By.XPATH, "(//tbody)[4]//tr")
        
        # Step 3: Extract the data column-wise and store it in a list
        player_data = []
        for row in rows:
            cells = row.find_elements(By.TAG_NAME, "td")
            row_data = [cell.text for cell in cells if cell.text != '']
            player_data.append(row_data)
        
        # Step 4: Create a DataFrame from the extracted data
        innings_data = pd.DataFrame(player_data, columns=header_names)
        
        end_time = time.time()
        print(f"Extracted {innings_data.shape[0]} records in {end_time - start_time:.2f} seconds")
        
        return innings_data

    def extract_player_info(self):
        try:
            start_time = time.time()
            print(f"Starting extraction of {self.player_name}'s personal info....")
            
            # Start by opening the player info URL
            self.driver.get(self.player_url)

            # Step 1: Extract headers within the specified div tag
            headers = self.driver.find_elements(By.XPATH, "//div[@class='ds-grid lg:ds-grid-cols-3 ds-grid-cols-2 ds-gap-4 ds-mb-8']//p[@class='ds-text-tight-m ds-font-regular ds-uppercase ds-text-typo-mid3']")
            header_names = ['Player ID','Player URL']+[header.text for header in headers]

            # Step 2: Extract values within the specified div tag
            values = self.driver.find_elements(By.XPATH, "//div[@class='ds-grid lg:ds-grid-cols-3 ds-grid-cols-2 ds-gap-4 ds-mb-8']//span[@class='ds-text-title-s ds-font-bold ds-text-typo']")
            value_texts = [self.player_id,self.player_url]+[value.text for value in values]

            # Step 3: Create a DataFrame from the extracted data
            player_info = pd.DataFrame([value_texts], columns=header_names)

            end_time = time.time()
            print(f"Extracted player info in {end_time - start_time:.2f} seconds")

            return player_info
            
        except Exception as e:
            print(f"Error in extracting {self.player_name}'s personal info:", e)
            return None

    def get_player_stats(self, stats_type="all"):
        try:
            # Ensure that player ID or player URL is available
            if not (self.player_id or self.player_url):
                print("Player ID is not available. Run get_player_url() first.")
                return
            
            # Fetch personal information if 'personal_info' is passed
            if stats_type == "personal_info":
                self.player_info = self.extract_player_info()
            
            # Fetch batting stats if 'all' or 'batting' is passed
            if stats_type == "all" or stats_type == "batting":
                self.battingstats = self.extract_inns_data('batting')

            # Fetch bowling stats if 'all' or 'bowling' is passed
            if stats_type == "all" or stats_type == "bowling":
                self.bowlingstats = self.extract_inns_data('bowling')

            # Check if the player is an all-rounder and fetch all-round stats
            if stats_type == "all" or stats_type == "allround":
                self.player_info = self.extract_player_info()
                if self.player_info is not None and 'allround' in self.player_info['PLAYING ROLE'][0].lower():
                    self.allroundstats = self.extract_inns_data('allround')

            # Fetch fielding stats if 'all' or 'fielding' is passed
            if stats_type == "all" or stats_type == "fielding":
                self.fieldingstats = self.extract_inns_data('fielding')

        except Exception as e:
            print(f"Error in extracting stats for {self.player_name}: ", e)


    def __del__(self):
        try:
            self.driver.quit()
            print("WebDriver closed successfully.")
        except Exception as e:
            print("Error while closing the WebDriver:", e)

##### Extracting Ground Information

The following functions are built to extract ground information. However, these are very resource-intensive, so we will take it up later.

In [3]:
def extract_ground_links(player_id):
    """
    This function extracts ground links from the player innings data, ensuring no duplicate ground info is scraped.
    """
    # Step 1: Initialize the DataFrame to store ground info
    ground_info_df = pd.DataFrame(columns=["Ground ID", "Stadium Name", "Location", "Home Team", "Image URL"])

    # Set up the WebDriver for scraping
    options = webdriver.ChromeOptions()
    options.add_argument("--headless")
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
    
    # Scrape Player Stats Page
    search_url = f"https://stats.espncricinfo.com/ci/engine/player/{player_id}.html?class=11;template=results;type=batting;view=innings"
    driver.get(search_url)
    
    # Extract ground links from innings data
    rows = driver.find_elements(By.XPATH, "(//tbody)[4]//tr")
    ground_links = []
    
    for row in rows:
        try:
            ground_name_element = row.find_element(By.XPATH, ".//td[contains(@class, 'left')][2]/a")
            ground_name = ground_name_element.text
            ground_link = ground_name_element.get_attribute('href')
            ground_links.append((ground_name, ground_link))
        except Exception as e:
            print(f"Error extracting ground data: {e}")
            continue

    # Step 2: Check if the ground has already been scraped (exists in ground_info DataFrame)
    for ground_name, ground_link in ground_links:
        if ground_name not in ground_info_df['Stadium Name'].values:
            # Create a new DataFrame for the new ground
            new_data = pd.DataFrame({"Stadium Name": [ground_name], "Ground Link": [ground_link]})
            ground_info_df = pd.concat([ground_info_df, new_data], ignore_index=True)
        else:
            print(f"Ground {ground_name} has already been scraped. Skipping.")

    # Step 3: Extract ground info for each link and append it to the ground_info_df
    for ground_link in ground_info_df['Ground Link']:
        ground_info_df = extract_ground_info(ground_link, ground_info_df)
    
    driver.quit()
    return ground_info_df

def extract_ground_info(ground_url, ground_info_df):
    """
    This function extracts ground information (ID, stadium name, location, home team, image URL)
    from a given ground URL and appends the data to the provided dataframe.
    """
    start_time = time.time()
    
    # Set up the WebDriver for scraping ground info
    options = webdriver.ChromeOptions()
    options.add_argument("--headless")
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
    
    driver.get(ground_url)
    
    try:
        # 1. Ground ID (numeric portion of the URL)
        ground_id = ground_url.split('/')[-1].split('.')[0]
        
        # 2. Ground image URL
        img_element = driver.find_element(By.XPATH, "//div[@class='ds-p-0']//img[1]")
        image_url = img_element.get_attribute("src")
        
        # 3. Stadium Name
        stadium_name = driver.find_element(By.XPATH, "//span[contains(@class, 'ds-text-title-m') and contains(@class, 'ds-font-bold')]").text
        
        # 4. Location (City)
        location = driver.find_element(By.XPATH, "//span[contains(@class, 'ds-text-compact-s') and contains(@class, 'ds-font-bold')]").text.strip().replace("\n", ", ")
        
        # 5. Home Team (Country)
        home_team_text = driver.find_element(By.XPATH, "//span[contains(text(), 'Grounds in')]").text
        home_team = home_team_text.split("Grounds in")[-1].strip()
        
        # Prepare the ground info as a dictionary
        ground_info = pd.DataFrame({
            "Ground ID": [ground_id],
            "Stadium Name": [stadium_name],
            "Location": [location],
            "Home Team": [home_team],
            "Image URL": [image_url]
        })
        
        # Append the ground info to the DataFrame
        ground_info_df = pd.concat([ground_info_df,ground_info], ignore_index=True)
        print(f"Extracted info for ground {stadium_name} in {time.time() - start_time:.2f} seconds.")
    
    except Exception as e:
        print(f"Error while extracting info for {ground_url}: {e}")
    
    driver.quit()
    return ground_info_df

In [4]:
ground_url = 'https://www.espncricinfo.com/cricket-grounds/rangiri-dambulla-international-stadium-59368'

# Set up the WebDriver for scraping ground info
options = webdriver.ChromeOptions()
options.add_argument("--headless")
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
    
driver.get(ground_url)
    
try:
    # 1. Ground ID (numeric portion of the URL)
    ground_id = ground_url.split('/')[-1].split('.')[0]
        
    # 2. Ground image URL
    img_element = driver.find_element(By.XPATH, "//div[@class='ds-p-0']//img")
    image_url = img_element.get_attribute("src")
        
        # 3. Stadium Name
    stadium_name = driver.find_element(By.XPATH, "//span[contains(@class, 'ds-text-title-m') and contains(@class, 'ds-font-bold')]").text
        
    # 4. Location (City)
    location = driver.find_element(By.XPATH, "//span[contains(@class, 'ds-text-compact-s') and contains(@class, 'ds-font-bold')]").text.strip().replace("\n", ", ")
        
    # 5. Home Team (Country)
    home_team_text = driver.find_element(By.XPATH, "//span[contains(text(), 'Grounds in')]").text
    home_team = home_team_text.split("Grounds in")[-1].strip()
        
    # Prepare the ground info as a dictionary
    ground_info = pd.DataFrame({
            "Ground ID": [ground_id],
            "Stadium Name": [stadium_name],
            "Location": [location],
            "Home Team": [home_team],
            "Image URL": [image_url]
        })

except Exception as e : print(e)
    
ground_info

KeyboardInterrupt:

In [ ]:
player_id = 253802
grounds = extract_ground_links(player_id)

grounds

## Transformation

In [9]:
import time
import pandas as pd
import numpy as np

class Cricketer_Stats_Transformer:
    
    def __init__(self, player_name):
        self.player_name = player_name
        self.player_info = None
        self.battingstats = None
        self.bowlingstats = None
        self.allroundstats = None
        self.fieldingstats = None
        self.player_id = None
        self.player_url = None

batting['Runs']

In [13]:
batting['Mins'].describe()

count     639
unique    208
top         -
freq       96
Name: Mins, dtype: object

In [14]:
batting['Mins'].unique()

array(['33', '82', '40', '87', '45', '6', '28', '-', '121', '53', '32',
       '20', '93', '19', '136', '98', '128', '3', '125', '123', '30',
       '35', '31', '13', '57', '5', '22', '193', '162', '78', '83', '10',
       '122', '43', '51', '126', '11', '113', '12', '16', '2', '38', '69',
       '15', '118', '1', '68', '135', '72', '62', '92', '9', '18', '102',
       '70', '134', '42', '21', '154', '99', '50', '107', '191', '237',
       '96', '29', '156', '41', '44', '116', '36', '133', '148', '211',
       '158', '80', '187', '65', '143', '284', '130', '67', '60', '61',
       '17', '86', '356', '25', '110', '266', '119', '157', '76', '46',
       '66', '120', '8', '26', '104', '4', '159', '7', '257', '254',
       '114', '179', '88', '27', '14', '129', '131', '195', '23', '75',
       '39', '77', '34', '54', '124', '164', '109', '192', '267', '279',
       '380', '315', '24', '168', '106', '49', '64', '71', '55', '178',
       '58', '155', '202', '73', '74', '259', '84', '174', '85', '37',
       '63', '375', '144', '536', '152', '401', '172', '161', '515',
       '147', '81', '295', '108', '203', '166', '59', '208', '386', '447',
       '89', '379', '146', '220', '277', '185', '243', '292', '100',
       '170', '112', '341', '217', '132', '373', '305', '150', '94',
       '105', '103', '127', '244', '153', '200', '196', '173', '151',
       '111', '273', '79', '47', '90', '56', '91', '117', '517', '115',
       '262', '272', '171', '139', '149', '137', '226', '101'],
      dtype=object)

In [15]:
batting[batting['Mins']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,-,-,-,-,-,-,-,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
13,107.0,-,114,11,1,93.85,4,caught,2,ODI v Sri Lanka,Eden Gardens,24 Dec 2009,ODI # 2935
14,NaN,-,-,-,-,-,-,-,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
20,31.0,-,46,1,0,67.39,5,caught,1,ODI v South Africa,Jaipur,21 Feb 2010,ODI # 2961
21,NaN,-,-,-,-,-,-,-,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,NaN,-,-,-,-,-,-,-,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,-,-,-,-,-,-,-,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,-,-,-,-,-,-,-,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,-,-,-,-,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,-,-,-,-,-,-,-,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [16]:
batting['Mins'] = batting['Mins'].replace("-", np.nan).astype(float)
batting['Mins']

0       33.0
1       82.0
2       40.0
3       87.0
4       45.0
       ...
634      NaN
635    125.0
636     40.0
637    101.0
638     14.0
Name: Mins, Length: 639, dtype: float64

In [17]:
batting['BF'].describe()

count     639
unique    166
top         -
freq       29
Name: BF, dtype: object

In [18]:
batting['BF'].unique()

array(['22', '67', '38', '66', '46', '2', '24', '-', '104', '41', '16',
       '19', '65', '114', '12', '102', '68', '95', '8', '71', '0', '92',
       '29', '21', '27', '14', '34', '3', '57', '121', '73', '70', '6',
       '83', '5', '53', '20', '76', '33', '49', '103', '1', '10', '54',
       '107', '9', '18', '36', '93', '63', '98', '30', '99', '111', '123',
       '11', '85', '81', '136', '213', '62', '94', '28', '25', '86',
       '120', '82', '148', '113', '119', '35', '48', '193', '39', '32',
       '13', '61', '55', '60', '295', '17', '79', '206', '129', '64',
       '52', '108', '88', '78', '84', '100', '181', '87', '135', '122',
       '51', '50', '44', '58', '75', '56', '126', '184', '175', '272',
       '230', '42', '4', '191', '140', '165', '97', '117', '47', '37',
       '283', '90', '40', '366', '134', '267', '109', '127', '340', '105',
       '26', '15', '246', '23', '101', '115', '96', '116', '125', '106',
       '287', '217', '159', '72', '225', '152', '197', '130', '257',
       '204', '59', '112', '45', '74', '77', '163', '336', '194', '91',
       '7', '43', '180', '149', '132', '31', '201', '143', '110', '364',
       '182', '69'], dtype=object)

In [19]:
batting[batting['BF']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,-,-,-,-,-,-,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,-,-,-,-,-,-,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
21,NaN,NaN,-,-,-,-,-,-,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
28,NaN,NaN,-,-,-,-,-,-,2,T20I v Zimbabwe,Harare,13 Jun 2010,T20I # 183
68,NaN,NaN,-,-,-,-,-,-,4,Test v West Indies,Roseau,6 Jul 2011,Test # 1999
109,NaN,NaN,-,-,-,-,-,-,2,T20I v South Africa,Johannesburg,30 Mar 2012,T20I # 242
145,NaN,NaN,-,-,-,-,-,-,4,Test v Australia,Chennai,22 Feb 2013,Test # 2074
164,NaN,NaN,-,-,-,-,-,-,2,ODI v Zimbabwe,Bulawayo,1 Aug 2013,ODI # 3402
165,NaN,NaN,-,-,-,-,-,-,2,ODI v Zimbabwe,Bulawayo,3 Aug 2013,ODI # 3403
170,NaN,NaN,-,-,-,-,-,-,2,ODI v Australia,Ranchi,23 Oct 2013,ODI # 3422
180,NaN,NaN,-,-,-,-,-,-,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
197,NaN,NaN,-,-,-,-,-,-,2,ODI v Afghanistan,Mirpur,5 Mar 2014,ODI # 3483
266,NaN,NaN,-,-,-,-,-,-,2,Test v South Africa,Bengaluru,14 Nov 2015,Test # 2188
282,NaN,NaN,-,-,-,-,-,-,2,T20I v U.A.E.,Mirpur,3 Mar 2016,T20I # 517
293,NaN,NaN,-,-,-,-,-,-,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
295,NaN,NaN,-,-,-,-,-,-,2,T20I v West Indies,Lauderhill,28 Aug 2016,T20I # 563
401,NaN,NaN,-,-,-,-,-,-,4,Test v West Indies,Hyderabad,12 Oct 2018,Test # 2321
408,NaN,NaN,-,-,-,-,-,-,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,-,-,-,-,-,-,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,-,-,-,-,-,-,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
493,NaN,NaN,-,-,-,-,-,-,4,Test v England,Ahmedabad,24 Feb 2021,Test # 2412
506,NaN,NaN,-,-,-,-,-,-,4,Test v England,Nottingham,4 Aug 2021,Test # 2428
515,NaN,NaN,-,-,-,-,-,-,1,T20I v Afghanistan,Abu Dhabi,3 Nov 2021,T20I # 1390
517,NaN,NaN,-,-,-,-,-,-,2,T20I v Namibia,Dubai (DICS),8 Nov 2021,T20I # 1410
583,NaN,NaN,-,-,-,-,-,-,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,NaN,-,-,-,-,-,-,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,NaN,-,-,-,-,-,-,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,NaN,-,-,-,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,NaN,-,-,-,-,-,-,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [20]:
batting['BF'] = batting['BF'].replace("-", np.nan).astype(float)
batting['BF']

0      22.0
1      67.0
2      38.0
3      66.0
4      46.0
       ...
634     NaN
635    86.0
636    29.0
637    69.0
638    12.0
Name: BF, Length: 639, dtype: float64

In [21]:
batting['4s'].describe()

count     639
unique     27
top         0
freq      125
Name: 4s, dtype: object

In [22]:
batting['4s'].unique()

array(['1', '6', '4', '7', '3', '0', '-', '9', '11', '5', '10', '8', '2',
       '16', '14', '22', '12', '15', '13', '18', '20', '24', '25', '17',
       '19', '21', '33'], dtype=object)

In [23]:
batting[batting['4s']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,NaN,-,-,-,-,-,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,NaN,-,-,-,-,-,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
21,NaN,NaN,NaN,-,-,-,-,-,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
28,NaN,NaN,NaN,-,-,-,-,-,2,T20I v Zimbabwe,Harare,13 Jun 2010,T20I # 183
68,NaN,NaN,NaN,-,-,-,-,-,4,Test v West Indies,Roseau,6 Jul 2011,Test # 1999
109,NaN,NaN,NaN,-,-,-,-,-,2,T20I v South Africa,Johannesburg,30 Mar 2012,T20I # 242
145,NaN,NaN,NaN,-,-,-,-,-,4,Test v Australia,Chennai,22 Feb 2013,Test # 2074
164,NaN,NaN,NaN,-,-,-,-,-,2,ODI v Zimbabwe,Bulawayo,1 Aug 2013,ODI # 3402
165,NaN,NaN,NaN,-,-,-,-,-,2,ODI v Zimbabwe,Bulawayo,3 Aug 2013,ODI # 3403
170,NaN,NaN,NaN,-,-,-,-,-,2,ODI v Australia,Ranchi,23 Oct 2013,ODI # 3422
180,NaN,NaN,NaN,-,-,-,-,-,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
197,NaN,NaN,NaN,-,-,-,-,-,2,ODI v Afghanistan,Mirpur,5 Mar 2014,ODI # 3483
266,NaN,NaN,NaN,-,-,-,-,-,2,Test v South Africa,Bengaluru,14 Nov 2015,Test # 2188
282,NaN,NaN,NaN,-,-,-,-,-,2,T20I v U.A.E.,Mirpur,3 Mar 2016,T20I # 517
293,NaN,NaN,NaN,-,-,-,-,-,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
295,NaN,NaN,NaN,-,-,-,-,-,2,T20I v West Indies,Lauderhill,28 Aug 2016,T20I # 563
401,NaN,NaN,NaN,-,-,-,-,-,4,Test v West Indies,Hyderabad,12 Oct 2018,Test # 2321
408,NaN,NaN,NaN,-,-,-,-,-,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,NaN,-,-,-,-,-,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,NaN,-,-,-,-,-,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
493,NaN,NaN,NaN,-,-,-,-,-,4,Test v England,Ahmedabad,24 Feb 2021,Test # 2412
506,NaN,NaN,NaN,-,-,-,-,-,4,Test v England,Nottingham,4 Aug 2021,Test # 2428
515,NaN,NaN,NaN,-,-,-,-,-,1,T20I v Afghanistan,Abu Dhabi,3 Nov 2021,T20I # 1390
517,NaN,NaN,NaN,-,-,-,-,-,2,T20I v Namibia,Dubai (DICS),8 Nov 2021,T20I # 1410
583,NaN,NaN,NaN,-,-,-,-,-,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,NaN,NaN,-,-,-,-,-,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,NaN,NaN,-,-,-,-,-,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,NaN,NaN,-,-,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,NaN,NaN,-,-,-,-,-,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [24]:
batting['4s'] = batting['4s'].replace("-", np.nan).astype(float)
batting['4s']

0      1.0
1      6.0
2      4.0
3      7.0
4      3.0
      ...
634    NaN
635    4.0
636    0.0
637    0.0
638    1.0
Name: 4s, Length: 639, dtype: float64

In [25]:
batting['6s'].describe()

count     639
unique     10
top         0
freq      434
Name: 6s, dtype: object

In [26]:
batting['6s'].unique()

array(['0', '1', '-', '2', '7', '3', '4', '5', '6', '8'], dtype=object)

In [27]:
batting[batting['6s']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,NaN,NaN,-,-,-,-,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,NaN,NaN,-,-,-,-,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
21,NaN,NaN,NaN,NaN,-,-,-,-,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
28,NaN,NaN,NaN,NaN,-,-,-,-,2,T20I v Zimbabwe,Harare,13 Jun 2010,T20I # 183
68,NaN,NaN,NaN,NaN,-,-,-,-,4,Test v West Indies,Roseau,6 Jul 2011,Test # 1999
109,NaN,NaN,NaN,NaN,-,-,-,-,2,T20I v South Africa,Johannesburg,30 Mar 2012,T20I # 242
145,NaN,NaN,NaN,NaN,-,-,-,-,4,Test v Australia,Chennai,22 Feb 2013,Test # 2074
164,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v Zimbabwe,Bulawayo,1 Aug 2013,ODI # 3402
165,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v Zimbabwe,Bulawayo,3 Aug 2013,ODI # 3403
170,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v Australia,Ranchi,23 Oct 2013,ODI # 3422
180,NaN,NaN,NaN,NaN,-,-,-,-,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
197,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v Afghanistan,Mirpur,5 Mar 2014,ODI # 3483
266,NaN,NaN,NaN,NaN,-,-,-,-,2,Test v South Africa,Bengaluru,14 Nov 2015,Test # 2188
282,NaN,NaN,NaN,NaN,-,-,-,-,2,T20I v U.A.E.,Mirpur,3 Mar 2016,T20I # 517
293,NaN,NaN,NaN,NaN,-,-,-,-,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
295,NaN,NaN,NaN,NaN,-,-,-,-,2,T20I v West Indies,Lauderhill,28 Aug 2016,T20I # 563
401,NaN,NaN,NaN,NaN,-,-,-,-,4,Test v West Indies,Hyderabad,12 Oct 2018,Test # 2321
408,NaN,NaN,NaN,NaN,-,-,-,-,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,NaN,NaN,-,-,-,-,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,NaN,NaN,-,-,-,-,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
493,NaN,NaN,NaN,NaN,-,-,-,-,4,Test v England,Ahmedabad,24 Feb 2021,Test # 2412
506,NaN,NaN,NaN,NaN,-,-,-,-,4,Test v England,Nottingham,4 Aug 2021,Test # 2428
515,NaN,NaN,NaN,NaN,-,-,-,-,1,T20I v Afghanistan,Abu Dhabi,3 Nov 2021,T20I # 1390
517,NaN,NaN,NaN,NaN,-,-,-,-,2,T20I v Namibia,Dubai (DICS),8 Nov 2021,T20I # 1410
583,NaN,NaN,NaN,NaN,-,-,-,-,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,NaN,NaN,NaN,-,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,NaN,NaN,NaN,-,-,-,-,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [28]:
batting['6s'] = batting['6s'].replace("-", np.nan).astype(float)
batting['6s']

0      0.0
1      0.0
2      0.0
3      0.0
4      1.0
      ...
634    NaN
635    0.0
636    0.0
637    0.0
638    0.0
Name: 6s, Length: 639, dtype: float64

In [29]:
batting['SR'].describe()

count      639
unique     423
top       0.00
freq        37
Name: SR, dtype: object

In [30]:
batting['SR'].unique()

array(['54.54', '55.22', '65.78', '81.81', '67.39', '100.00', '66.66',
       '-', '75.96', '73.17', '62.50', '142.10', '83.07', '93.85',
       '75.00', '89.21', '104.41', '107.36', '25.00', '80.28', '89.13',
       '62.06', '71.57', '123.80', '50.00', '71.42', '82.35', '0.00',
       '64.91', '97.52', '100.96', '87.67', '90.00', '147.36', '77.14',
       '64.70', '68.29', '94.56', '33.33', '120.48', '160.00', '64.15',
       '60.00', '77.63', '72.72', '42.85', '116.66', '78.64', '90.38',
       '40.00', '27.77', '25.23', '56.60', '80.00', '75.34', '38.88',
       '44.44', '115.05', '58.73', '114.28', '86.86', '93.75', '46.84',
       '55.26', '95.12', '209.09', '94.11', '52.38', '56.09', '37.50',
       '54.32', '55.14', '54.46', '35.48', '104.76', '129.16', '91.17',
       '81.91', '64.28', '48.00', '79.51', '77.77', '154.65', '80.48',
       '123.64', '93.80', '20.00', '58.46', '107.56', '65.71', '141.66',
       '54.20', '53.36', '62.19', '170.73', '128.20', '125.00', '115.38',
       '127.86', '28.35', '34.54', '53.84', '34.91', '123.52', '190.00',
       '122.72', '41.17', '68.18', '68.51', '97.46', '78.78', '51.94',
       '36.95', '51.93', '55.73', '12.50', '68.33', '75.60', '122.22',
       '81.48', '90.62', '126.47', '122.89', '59.61', '106.48', '77.27',
       '131.81', '71.76', '192.30', '93.15', '174.24', '73.07', '102.38',
       '99.00', '105.55', '88.57', '65.74', '49.74', '52.87', '40.74',
       '110.81', '120.00', '30.00', '105.12', '30.76', '65.68', '40.86',
       '111.47', '45.45', '112.50', '131.70', '114.00', '104.54',
       '163.63', '132.75', '27.58', '73.52', '52.00', '63.63', '37.03',
       '61.90', '160.97', '79.48', '111.40', '111.36', '86.88', '103.12',
       '110.31', '80.57', '70.37', '9.09', '62.13', '63.91', '48.42',
       '56.25', '42.10', '84.92', '76.66', '91.66', '79.16', '7.69',
       '85.18', '53.92', '72.89', '52.63', '159.25', '61.11', '98.57',
       '40.84', '53.33', '70.96', '93.81', '88.05', '115.21', '178.78',
       '138.88', '58.33', '96.07', '119.14', '146.42', '148.64', '160.78',
       '189.36', '70.67', '48.88', '23.52', '177.77', '45.00', '32.14',
       '69.23', '57.65', '60.71', '104.93', '114.92', '88.23', '85.52',
       '62.54', '74.31', '48.81', '69.11', '51.72', '116.19', '87.30',
       '111.53', '140.00', '82.92', '95.00', '35.13', '70.58', '26.08',
       '119.11', '75.24', '123.07', '55.55', '68.08', '96.52', '177.27',
       '75.73', '44.82', '117.14', '200.00', '27.27', '136.45', '94.82',
       '151.85', '85.98', '70.90', '157.14', '96.80', '106.60', '236.36',
       '154.76', '216.66', '87.39', '79.77', '84.66', '86.20', '38.46',
       '70.00', '70.50', '50.94', '51.89', '92.00', '100.62', '90.36',
       '134.37', '130.00', '90.90', '123.68', '148.27', '91.46', '80.35',
       '98.61', '66.22', '54.83', '40.35', '58.62', '63.81', '52.28',
       '64.78', '44.61', '60.43', '57.69', '130.84', '121.70', '89.91',
       '113.79', '148.78', '18.75', '32.69', '47.85', '42.50', '40.19',
       '38.98', '92.85', '74.19', '76.27', '95.55', '81.08', '141.17',
       '189.47', '97.77', '96.66', '129.47', '52.94', '106.49', '118.46',
       '106.34', '87.80', '86.84', '96.29', '16.66', '65.51', '121.73',
       '131.11', '96.00', '115.15', '45.13', '46.62', '138.46', '124.00',
       '75.59', '70.10', '188.00', '111.76', '241.37', '176.47', '152.94',
       '102.63', '97.80', '140.62', '140.74', '80.95', '28.57', '44.18',
       '46.66', '102.29', '80.76', '166.66', '139.34', '41.11', '22.91',
       '41.61', '46.55', '148.97', '167.39', '153.84', '93.33', '83.54',
       '40.77', '64.51', '44.00', '52.08', '45.83', '116.32', '37.23',
       '39.30', '20.27', '77.38', '130.76', '126.82', '59.21', '47.91',
       '81.25', '57.89', '183.33', '64.00', '102.94', '134.09', '136.36',
       '131.25', '175.00', '154.71', '140.90', '109.09', '145.45',
       '104.00', '83.33', '124.17', '32.87', '4.54', '129.88', '150.90',
       '133.33', '46.15', '42.30', '51.09', '45.16', '62.82', '41.75',
       '57.14', '129.78', '91.80', '73.27', '98.21', '88.88', '106.18',
       '91.34', '93.61', '83.47', '91.07', '103.53', '85.71', '59.37',
       '92.68', '77.96', '181.25', '132.14', '128.81', '73.68', '111.11',
       '45.94', '134.28', '78.37', '68.62', '11.11', '14.28', '41.66',
       '69.93', '87.50', '41.86', '17.24', '24.63'], dtype=object)

In [31]:
batting[batting['SR']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,NaN,NaN,NaN,-,-,-,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,NaN,NaN,NaN,-,-,-,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
21,NaN,NaN,NaN,NaN,NaN,-,-,-,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
23,0.0,3.0,0.0,0.0,0.0,-,3,run out,1,ODI v Zimbabwe,Bulawayo,28 May 2010,ODI # 2981
28,NaN,NaN,NaN,NaN,NaN,-,-,-,2,T20I v Zimbabwe,Harare,13 Jun 2010,T20I # 183
68,NaN,NaN,NaN,NaN,NaN,-,-,-,4,Test v West Indies,Roseau,6 Jul 2011,Test # 1999
109,NaN,NaN,NaN,NaN,NaN,-,-,-,2,T20I v South Africa,Johannesburg,30 Mar 2012,T20I # 242
145,NaN,NaN,NaN,NaN,NaN,-,-,-,4,Test v Australia,Chennai,22 Feb 2013,Test # 2074
164,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v Zimbabwe,Bulawayo,1 Aug 2013,ODI # 3402
165,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v Zimbabwe,Bulawayo,3 Aug 2013,ODI # 3403
170,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v Australia,Ranchi,23 Oct 2013,ODI # 3422
180,NaN,NaN,NaN,NaN,NaN,-,-,-,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
197,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v Afghanistan,Mirpur,5 Mar 2014,ODI # 3483
266,NaN,NaN,NaN,NaN,NaN,-,-,-,2,Test v South Africa,Bengaluru,14 Nov 2015,Test # 2188
282,NaN,NaN,NaN,NaN,NaN,-,-,-,2,T20I v U.A.E.,Mirpur,3 Mar 2016,T20I # 517
293,NaN,NaN,NaN,NaN,NaN,-,-,-,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
295,NaN,NaN,NaN,NaN,NaN,-,-,-,2,T20I v West Indies,Lauderhill,28 Aug 2016,T20I # 563
401,NaN,NaN,NaN,NaN,NaN,-,-,-,4,Test v West Indies,Hyderabad,12 Oct 2018,Test # 2321
408,NaN,NaN,NaN,NaN,NaN,-,-,-,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,NaN,NaN,NaN,-,-,-,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,NaN,NaN,NaN,-,-,-,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
493,NaN,NaN,NaN,NaN,NaN,-,-,-,4,Test v England,Ahmedabad,24 Feb 2021,Test # 2412
506,NaN,NaN,NaN,NaN,NaN,-,-,-,4,Test v England,Nottingham,4 Aug 2021,Test # 2428
515,NaN,NaN,NaN,NaN,NaN,-,-,-,1,T20I v Afghanistan,Abu Dhabi,3 Nov 2021,T20I # 1390
517,NaN,NaN,NaN,NaN,NaN,-,-,-,2,T20I v Namibia,Dubai (DICS),8 Nov 2021,T20I # 1410
583,NaN,NaN,NaN,NaN,NaN,-,-,-,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,NaN,NaN,NaN,NaN,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,NaN,NaN,NaN,NaN,-,-,-,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [32]:
batting.loc[batting['BF']==0, 'SR'] = 0
batting['SR'] = batting['SR'].replace("-", np.nan).astype(float)

batting['SR']

0      54.54
1      55.22
2      65.78
3      81.81
4      67.39
       ...
634      NaN
635    41.86
636    17.24
637    24.63
638    50.00
Name: SR, Length: 639, dtype: float64

In [33]:
batting['Dismissal'].describe()

count        639
unique         8
top       caught
freq         368
Name: Dismissal, dtype: object

In [34]:
batting['Dismissal'].unique()

array(['lbw', 'caught', 'run out', 'bowled', 'not out', '-', 'stumped',
       'hit wicket'], dtype=object)

In [35]:
batting[batting['Dismissal']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
21,NaN,NaN,NaN,NaN,NaN,NaN,-,-,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
28,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,T20I v Zimbabwe,Harare,13 Jun 2010,T20I # 183
68,NaN,NaN,NaN,NaN,NaN,NaN,-,-,4,Test v West Indies,Roseau,6 Jul 2011,Test # 1999
109,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,T20I v South Africa,Johannesburg,30 Mar 2012,T20I # 242
145,NaN,NaN,NaN,NaN,NaN,NaN,-,-,4,Test v Australia,Chennai,22 Feb 2013,Test # 2074
164,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v Zimbabwe,Bulawayo,1 Aug 2013,ODI # 3402
165,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v Zimbabwe,Bulawayo,3 Aug 2013,ODI # 3403
170,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v Australia,Ranchi,23 Oct 2013,ODI # 3422
180,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
197,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v Afghanistan,Mirpur,5 Mar 2014,ODI # 3483
266,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,Test v South Africa,Bengaluru,14 Nov 2015,Test # 2188
282,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,T20I v U.A.E.,Mirpur,3 Mar 2016,T20I # 517
293,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
295,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,T20I v West Indies,Lauderhill,28 Aug 2016,T20I # 563
401,NaN,NaN,NaN,NaN,NaN,NaN,-,-,4,Test v West Indies,Hyderabad,12 Oct 2018,Test # 2321
408,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
493,NaN,NaN,NaN,NaN,NaN,NaN,-,-,4,Test v England,Ahmedabad,24 Feb 2021,Test # 2412
506,NaN,NaN,NaN,NaN,NaN,NaN,-,-,4,Test v England,Nottingham,4 Aug 2021,Test # 2428
515,NaN,NaN,NaN,NaN,NaN,NaN,-,-,1,T20I v Afghanistan,Abu Dhabi,3 Nov 2021,T20I # 1390
517,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,T20I v Namibia,Dubai (DICS),8 Nov 2021,T20I # 1410
583,NaN,NaN,NaN,NaN,NaN,NaN,-,-,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,NaN,NaN,NaN,NaN,NaN,-,-,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,NaN,NaN,NaN,NaN,NaN,-,-,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [36]:
batting['Dismissal'] = batting['Dismissal'].replace("-", np.nan)
batting['Dismissal']

0          lbw
1       caught
2      run out
3       bowled
4          lbw
        ...
634        NaN
635     caught
636     caught
637     caught
638     caught
Name: Dismissal, Length: 639, dtype: object

In [37]:
batting['Pos'].describe()

count     639
unique      8
top         3
freq      316
Name: Pos, dtype: object

In [38]:
batting['Pos'].unique()

array(['2', '1', '7', '4', '-', '3', '5', '6'], dtype=object)

In [39]:
batting[batting['Pos']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
21,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,1,ODI v South Africa,Gwalior,24 Feb 2010,ODI # 2962
28,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,T20I v Zimbabwe,Harare,13 Jun 2010,T20I # 183
68,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,4,Test v West Indies,Roseau,6 Jul 2011,Test # 1999
109,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,T20I v South Africa,Johannesburg,30 Mar 2012,T20I # 242
145,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,4,Test v Australia,Chennai,22 Feb 2013,Test # 2074
164,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v Zimbabwe,Bulawayo,1 Aug 2013,ODI # 3402
165,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v Zimbabwe,Bulawayo,3 Aug 2013,ODI # 3403
170,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v Australia,Ranchi,23 Oct 2013,ODI # 3422
180,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
197,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v Afghanistan,Mirpur,5 Mar 2014,ODI # 3483
266,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,Test v South Africa,Bengaluru,14 Nov 2015,Test # 2188
282,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,T20I v U.A.E.,Mirpur,3 Mar 2016,T20I # 517
293,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
295,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,T20I v West Indies,Lauderhill,28 Aug 2016,T20I # 563
401,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,4,Test v West Indies,Hyderabad,12 Oct 2018,Test # 2321
408,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
493,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,4,Test v England,Ahmedabad,24 Feb 2021,Test # 2412
506,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,4,Test v England,Nottingham,4 Aug 2021,Test # 2428
515,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,1,T20I v Afghanistan,Abu Dhabi,3 Nov 2021,T20I # 1390
517,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,T20I v Namibia,Dubai (DICS),8 Nov 2021,T20I # 1410
583,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,3,Test v West Indies,Port of Spain,20 Jul 2023,Test # 2513
584,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v West Indies,Bridgetown,27 Jul 2023,ODI # 4622
586,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v Nepal,Pallekele,4 Sep 2023,ODI # 4632
589,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,2,ODI v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
634,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,4,Test v Australia,Brisbane,14 Dec 2024,Test # 2570

In [40]:
batting['Pos'] = batting['Pos'].replace("-", np.nan).astype(float)
batting['Pos']

0      2.0
1      2.0
2      1.0
3      1.0
4      1.0
      ...
634    NaN
635    4.0
636    4.0
637    4.0
638    4.0
Name: Pos, Length: 639, dtype: float64

In [41]:
batting['Inns'].describe()

count     639
unique      5
top         1
freq      268
Name: Inns, dtype: object

In [42]:
batting['Inns'].unique()

array(['1', '2', '-', '3', '4'], dtype=object)

In [43]:
batting[batting['Inns']=='-']

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,ODI v Australia,Centurion,28 Sep 2009,ODI # 2901
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,ODI v Sri Lanka,Delhi,27 Dec 2009,ODI # 2936
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,ODI v South Africa,Centurion,11 Dec 2013,ODI # 3444
293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Test v West Indies,Port of Spain,18 Aug 2016,Test # 2218
408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,T20I v Australia,Melbourne,23 Nov 2018,T20I # 713
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,ODI v West Indies,Providence,8 Aug 2019,ODI # 4196
463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025

In [44]:
batting['Inns'] = batting['Inns'].replace("-", np.nan).astype(float)
batting['Inns']

0      1.0
1      2.0
2      1.0
3      1.0
4      2.0
      ...
634    4.0
635    2.0
636    4.0
637    1.0
638    3.0
Name: Inns, Length: 639, dtype: float64

In [45]:
batting['Opposition'].describe()

count                 639
unique                 38
top       ODI v Sri Lanka
freq                   56
Name: Opposition, dtype: object

In [46]:
batting['Opposition'].unique()

array(['ODI v Sri Lanka', 'ODI v Pakistan', 'ODI v Australia',
       'ODI v West Indies', 'ODI v Bangladesh', 'ODI v South Africa',
       'ODI v Zimbabwe', 'T20I v Zimbabwe', 'ODI v New Zealand',
       'T20I v South Africa', 'ODI v England', 'ODI v Ireland',
       'ODI v Netherlands', 'T20I v West Indies', 'Test v West Indies',
       'T20I v England', 'Test v Australia', 'T20I v Australia',
       'T20I v Sri Lanka', 'Test v New Zealand', 'T20I v New Zealand',
       'T20I v Afghanistan', 'T20I v Pakistan', 'Test v England',
       'Test v South Africa', 'ODI v Afghanistan', 'T20I v Bangladesh',
       'ODI v U.A.E.', 'Test v Bangladesh', 'Test v Sri Lanka',
       'T20I v U.A.E.', 'T20I v Ireland', 'T20I v Scotland',
       'T20I v Namibia', 'T20I v Hong Kong', 'T20I v Netherlands',
       'ODI v Nepal', 'T20I v U.S.A.'], dtype=object)

We will split this into 2 columns - "Format" and "Opposition".

In [47]:
#extracting the format (content before " v ") and 
# opposition (content after " v ") from the 'Opposition' column

batting['Format'] = batting['Opposition'].str.extract(r'(^.*?)\sv\s')
batting['Opposition'] = batting['Opposition'].str.extract(r'\sv\s(.*?$)')

In [48]:
batting['Format'].unique()

array(['ODI', 'T20I', 'Test'], dtype=object)

In [49]:
batting['Opposition'].unique()

array(['Sri Lanka', 'Pakistan', 'Australia', 'West Indies', 'Bangladesh',
       'South Africa', 'Zimbabwe', 'New Zealand', 'England', 'Ireland',
       'Netherlands', 'Afghanistan', 'U.A.E.', 'Scotland', 'Namibia',
       'Hong Kong', 'Nepal', 'U.S.A.'], dtype=object)

In [50]:
batting['Ground'].describe()

count        639
unique        80
top       Mirpur
freq          29
Name: Ground, dtype: object

In [51]:
batting['Ground'].unique()

array(['Dambulla', 'Colombo (RPS)', 'Centurion', 'Johannesburg',
       'Vadodara', 'Mohali', 'Rajkot', 'Nagpur', 'Eden Gardens', 'Delhi',
       'Mirpur', 'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Wankhede', 'Port of Spain',
       'North Sound', 'Kingston', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'The Oval', "Lord's",
       'Cardiff', 'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney',
       'W.A.C.A', 'Adelaide', 'Brisbane', 'Hobart', 'Hambantota',
       'Pallekele', 'Pune', 'Kochi', 'Ranchi', 'Dharamsala', 'Birmingham',
       'Kanpur', 'Napier', 'Hamilton', 'Auckland', 'Wellington',
       'Fatullah', 'Nottingham', 'Leeds', 'Galle', 'Colombo (PSS)',
       'Colombo (SSC)', 'Canberra', 'Gros Islet', 'Lauderhill',
       'Thiruvananthapuram', 'Dublin (Malahide)', 'Bristol', 'Brabourne',
       'Perth', 'Mount Maunganui', 'Providence', 'Christchurch',
       'Dubai (DICS)', 'Abu Dhabi', 'Paarl', 'Chattogram', 'Raipur',
       'Lucknow', 'New York'], dtype=object)

We can see inconsistency here. Some places, the Ground names (Eden Gardens, W.A.C.A.) are given, and others - city names (Melbourne, Kanpur). 

To make this consistent, we will keep only the city names. For clearer context, we will rename the column to "Location". 

The list of mapping is as follows - 

1. All Colombo grounds (containing the word "Colombo") to be renamed as Colombo. 
2. Eden Gardens -> Kolkata
3. Wankhede,Brabourne -> Mumbai
4. Kingston -> Kingston Jamaica
5. The Oval, Lords -> London
6. W.A.C.A -> Perth
7. Dharamsala -> Dharamshala
8. Hamilton -> Hamilton Waikato
9. Fatullah -> Fatullah Dhaka
10. Providence -> Providence Guyana
11. Dubai (DICS) -> Dubai
12. Chattogram -> Chattogram Chittagong

Let us create a dictionary for this.

In [63]:
# Define the mapping dictionary
ground_mapping = {
    "Colombo (SSC)": "Colombo",
    "Colombo (PSS)": "Colombo",
    "Colombo (RPS)": "Colombo",
    "Eden Gardens": "Kolkata",
    "Wankhede": "Mumbai",
    "Brabourne": "Mumbai",
    "Kingston": "Kingston Jamaica",
    "The Oval": "London",
    "Lord's": "London",
    "W.A.C.A": "Perth",
    "Dharamsala": "Dharamshala",
    "Hamilton": "Hamilton Waikato",
    "Fatullah": "Fatullah Dhaka",
    "Providence": "Providence Guyana",
    "Dubai (DICS)": "Dubai",
    "Chattogram": "Chattogram Chittagong"
}

batting['Ground'].replace(ground_mapping).unique()

array(['Dambulla', 'Colombo', 'Centurion', 'Johannesburg', 'Vadodara',
       'Mohali', 'Rajkot', 'Nagpur', 'Kolkata', 'Delhi', 'Mirpur',
       'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Mumbai', 'Port of Spain', 'North Sound',
       'Kingston Jamaica', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'London', 'Cardiff',
       'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney', 'Perth',
       'Adelaide', 'Brisbane', 'Hobart', 'Hambantota', 'Pallekele',
       'Pune', 'Kochi', 'Ranchi', 'Dharamshala', 'Birmingham', 'Kanpur',
       'Napier', 'Hamilton Waikato', 'Auckland', 'Wellington',
       'Fatullah Dhaka', 'Nottingham', 'Leeds', 'Galle', 'Canberra',
       'Gros Islet', 'Lauderhill', 'Thiruvananthapuram',
       'Dublin (Malahide)', 'Bristol', 'Mount Maunganui',
       'Providence Guyana', 'Christchurch', 'Dubai', 'Abu Dhabi', 'Paarl',
       'Chattogram Chittagong', 'Raipur', 'Lucknow', 'New York'],
      dtype=object)

It works. Now, let us apply this, and rename the column to 'Location'.

In [75]:
batting['Ground']=batting['Ground'].replace(ground_mapping)
batting = batting.rename(columns={'Ground':'Location'})

batting['Location'].unique()

array(['Dambulla', 'Colombo', 'Centurion', 'Johannesburg', 'Vadodara',
       'Mohali', 'Rajkot', 'Nagpur', 'Kolkata', 'Delhi', 'Mirpur',
       'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Mumbai', 'Port of Spain', 'North Sound',
       'Kingston Jamaica', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'London', 'Cardiff',
       'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney', 'Perth',
       'Adelaide', 'Brisbane', 'Hobart', 'Hambantota', 'Pallekele',
       'Pune', 'Kochi', 'Ranchi', 'Dharamshala', 'Birmingham', 'Kanpur',
       'Napier', 'Hamilton Waikato', 'Auckland', 'Wellington',
       'Fatullah Dhaka', 'Nottingham', 'Leeds', 'Galle', 'Canberra',
       'Gros Islet', 'Lauderhill', 'Thiruvananthapuram',
       'Dublin (Malahide)', 'Bristol', 'Mount Maunganui',
       'Providence Guyana', 'Christchurch', 'Dubai', 'Abu Dhabi', 'Paarl',
       'Chattogram Chittagong', 'Raipur', 'Lucknow', 'New York'],
      dtype=object)

In [76]:
batting['match_id'].describe()

Match ID      string[python]
Start Date    datetime64[ns]
Format        string[python]
Inns                   Int64
Pos                    Int64
Runs                   Int64
BF                     Int64
4s                     Int64
6s                     Int64
SR                   float64
Mins                   Int64
Dismissal     string[python]
Opposition    string[python]
Location      string[python]
dtype: object

Match ID      string[python]
Start Date    datetime64[ns]
Format        string[python]
Inns                   Int64
Pos                    Int64
Overs                float64
Mdns                   Int64
Runs                   Int64
Wkts                   Int64
Econ                 float64
Opposition    string[python]
Location      string[python]
dtype: object

Match ID      string[python]
Start Date    datetime64[ns]
Format        string[python]
Inns                   Int64
Dis                    Int64
Ct                     Int64
Opposition    string[python]
Location      string[python]
dtype: object

count             639
unique            543
top       Test # 2081
freq                2
Name: match_id, dtype: object

In [82]:
batting['match_id'].unique()

array(['ODI # 2742', 'ODI # 2745', 'ODI # 2750', 'ODI # 2755',
       'ODI # 2756', 'ODI # 2889', 'ODI # 2898', 'ODI # 2901',
       'ODI # 2904', 'ODI # 2913', 'ODI # 2919', 'ODI # 2932',
       'ODI # 2933', 'ODI # 2935', 'ODI # 2936', 'ODI # 2938',
       'ODI # 2939', 'ODI # 2941', 'ODI # 2942', 'ODI # 2943',
       'ODI # 2961', 'ODI # 2962', 'ODI # 2963', 'ODI # 2981',
       'ODI # 2983', 'ODI # 2986', 'ODI # 2988', 'T20I # 182',
       'T20I # 183', 'ODI # 2993', 'ODI # 2996', 'ODI # 2999',
       'ODI # 3001', 'ODI # 3032', 'ODI # 3039', 'ODI # 3040',
       'ODI # 3060', 'ODI # 3070', 'ODI # 3072', 'ODI # 3074',
       'ODI # 3076', 'ODI # 3077', 'T20I # 196', 'ODI # 3079',
       'ODI # 3080', 'ODI # 3082', 'ODI # 3084', 'ODI # 3087',
       'ODI # 3100', 'ODI # 3110', 'ODI # 3121', 'ODI # 3124',
       'ODI # 3128', 'ODI # 3141', 'ODI # 3143', 'ODI # 3147',
       'ODI # 3148', 'T20I # 200', 'ODI # 3159', 'ODI # 3160',
       'ODI # 3161', 'ODI # 3162', 'ODI # 3163', 'Test # 1997',
       'Test # 1998', 'Test # 1999', 'T20I # 204', 'ODI # 3186',
       'ODI # 3187', 'ODI # 3189', 'ODI # 3191', 'ODI # 3195',
       'ODI # 3199', 'ODI # 3201', 'ODI # 3205', 'ODI # 3207',
       'ODI # 3210', 'T20I # 214', 'Test # 2019', 'ODI # 3217',
       'ODI # 3219', 'ODI # 3221', 'ODI # 3223', 'ODI # 3224',
       'Test # 2025', 'Test # 2027', 'Test # 2029', 'Test # 2031',
       'T20I # 217', 'T20I # 218', 'ODI # 3231', 'ODI # 3233',
       'ODI # 3237', 'ODI # 3239', 'ODI # 3244', 'ODI # 3246',
       'ODI # 3250', 'ODI # 3251', 'ODI # 3259', 'ODI # 3261',
       'ODI # 3263', 'T20I # 242', 'ODI # 3291', 'ODI # 3292',
       'ODI # 3293', 'ODI # 3294', 'ODI # 3295', 'T20I # 255',
       'Test # 2054', 'Test # 2055', 'T20I # 261', 'T20I # 265',
       'T20I # 272', 'T20I # 278', 'T20I # 282', 'T20I # 286',
       'Test # 2058', 'Test # 2062', 'Test # 2065', 'Test # 2066',
       'T20I # 292', 'T20I # 294', 'T20I # 296', 'T20I # 298',
       'ODI # 3314', 'ODI # 3315', 'ODI # 3316', 'ODI # 3318',
       'ODI # 3320', 'ODI # 3322', 'ODI # 3327', 'ODI # 3329',
       'Test # 2074', 'Test # 2076', 'Test # 2081', 'Test # 2085',
       'ODI # 3363', 'ODI # 3368', 'ODI # 3372', 'ODI # 3376',
       'ODI # 3377', 'ODI # 3380', 'ODI # 3382', 'ODI # 3383',
       'ODI # 3387', 'ODI # 3388', 'ODI # 3395', 'ODI # 3397',
       'ODI # 3399', 'ODI # 3402', 'ODI # 3403', 'T20I # 331',
       'ODI # 3419', 'ODI # 3420', 'ODI # 3421', 'ODI # 3422',
       'ODI # 3424', 'ODI # 3428', 'Test # 2101', 'Test # 2102',
       'ODI # 3436', 'ODI # 3437', 'ODI # 3439', 'ODI # 3442',
       'ODI # 3443', 'ODI # 3444', 'Test # 2108', 'Test # 2111',
       'ODI # 3456', 'ODI # 3458', 'ODI # 3462', 'ODI # 3465',
       'ODI # 3467', 'Test # 2118', 'Test # 2120', 'ODI # 3474',
       'ODI # 3476', 'ODI # 3479', 'ODI # 3483', 'T20I # 378',
       'T20I # 382', 'T20I # 389', 'T20I # 393', 'T20I # 399',
       'T20I # 400', 'Test # 2128', 'Test # 2130', 'Test # 2132',
       'Test # 2134', 'Test # 2137', 'ODI # 3517', 'ODI # 3520',
       'ODI # 3523', 'ODI # 3525', 'T20I # 405', 'ODI # 3531',
       'ODI # 3533', 'ODI # 3535', 'ODI # 3539', 'ODI # 3540',
       'ODI # 3543', 'ODI # 3544', 'ODI # 3547', 'Test # 2148',
       'Test # 2149', 'Test # 2152', 'Test # 2156', 'ODI # 3582',
       'ODI # 3586', 'ODI # 3592', 'ODI # 3595', 'ODI # 3602',
       'ODI # 3610', 'ODI # 3618', 'ODI # 3625', 'ODI # 3631',
       'ODI # 3636', 'ODI # 3641', 'ODI # 3645', 'Test # 2165',
       'ODI # 3658', 'ODI # 3660', 'ODI # 3661', 'Test # 2176',
       'Test # 2177', 'Test # 2179', 'T20I # 456', 'T20I # 457',
       'ODI # 3689', 'ODI # 3692', 'ODI # 3695', 'ODI # 3698',
       'ODI # 3700', 'Test # 2186', 'Test # 2188', 'Test # 2189',
       'Test # 2191', 'ODI # 3723', 'ODI # 3724', 'ODI # 3725',
       'ODI # 3726', 'ODI # 3727', 'T20I # 485', 'T20I # 486',
       'T20I # 489', 'T20I # 509', 'T20I # 512', 'T20I # 515',
       'T20I # 517', 'T20I # 521', 'T20I # 535', 'T20I # 541',
       'T20I # 547', 'T20I # 553', 'T20I # 556', 'Test # 2207',
       'Test # 2211', 'Test # 2215', 'Test # 2218', 'T20I # 562',
       'T20I # 563', 'Test # 2221', 'Test # 2222', 'Test # 2223',
       'ODI # 3796', 'ODI # 3797', 'ODI # 3798', 'ODI # 3799',
       'ODI # 3800', 'Test # 2232', 'Test # 2235', 'Test # 2238',
       'Test # 2239', 'Test # 2241', 'ODI # 3819', 'ODI # 3821',
       'ODI # 3824', 'T20I # 592', 'T20I # 593', 'T20I # 594',
       'Test # 2249', 'Test # 2250', 'Test # 2251', 'Test # 2256',
       'ODI # 3878', 'ODI # 3882', 'ODI # 3886', 'ODI # 3891',
       'ODI # 3894', 'ODI # 3895', 'ODI # 3896', 'ODI # 3898',
       'ODI # 3900', 'ODI # 3902', 'T20I # 617', 'Test # 2265',
       'Test # 2267', 'Test # 2269', 'ODI # 3905', 'ODI # 3906',
       'ODI # 3907', 'ODI # 3908', 'ODI # 3909', 'T20I # 618',
       'ODI # 3910', 'ODI # 3912', 'ODI # 3914', 'ODI # 3917',
       'ODI # 3919', 'T20I # 623', 'T20I # 624', 'ODI # 3928',
       'ODI # 3931', 'ODI # 3932', 'T20I # 630', 'T20I # 631',
       'T20I # 632', 'Test # 2281', 'Test # 2283', 'Test # 2286',
       'Test # 2292', 'Test # 2293', 'Test # 2294', 'ODI # 3969',
       'ODI # 3970', 'ODI # 3971', 'ODI # 3973', 'ODI # 3976',
       'ODI # 3978', 'T20I # 652', 'T20I # 654', 'T20I # 678',
       'T20I # 680', 'T20I # 684', 'T20I # 688', 'T20I # 690',
       'ODI # 4014', 'ODI # 4016', 'ODI # 4018', 'Test # 2314',
       'Test # 2315', 'Test # 2316', 'Test # 2317', 'Test # 2318',
       'Test # 2319', 'Test # 2321', 'ODI # 4056', 'ODI # 4059',
       'ODI # 4062', 'ODI # 4063', 'ODI # 4064', 'T20I # 712',
       'T20I # 713', 'T20I # 714', 'Test # 2333', 'Test # 2334',
       'Test # 2337', 'Test # 2339', 'ODI # 4077', 'ODI # 4078',
       'ODI # 4079', 'ODI # 4082', 'ODI # 4085', 'ODI # 4088',
       'T20I # 748', 'T20I # 749', 'ODI # 4102', 'ODI # 4106',
       'ODI # 4109', 'ODI # 4111', 'ODI # 4113', 'ODI # 4150',
       'ODI # 4155', 'ODI # 4161', 'ODI # 4169', 'ODI # 4175',
       'ODI # 4179', 'ODI # 4182', 'ODI # 4187', 'ODI # 4190',
       'T20I # 842', 'T20I # 843', 'T20I # 846', 'ODI # 4196',
       'ODI # 4197', 'ODI # 4199', 'Test # 2358', 'Test # 2359',
       'T20I # 888', 'T20I # 893', 'Test # 2363', 'Test # 2364',
       'Test # 2365', 'Test # 2366', 'Test # 2369', 'T20I # 1020',
       'T20I # 1022', 'T20I # 1024', 'ODI # 4221', 'ODI # 4222',
       'ODI # 4223', 'T20I # 1025', 'T20I # 1026', 'T20I # 1027',
       'ODI # 4231', 'ODI # 4232', 'ODI # 4233', 'T20I # 1031',
       'T20I # 1034', 'T20I # 1035', 'T20I # 1036', 'ODI # 4235',
       'ODI # 4239', 'ODI # 4243', 'Test # 2385', 'Test # 2387',
       'ODI # 4265', 'ODI # 4266', 'ODI # 4267', 'T20I # 1114',
       'T20I # 1115', 'T20I # 1116', 'Test # 2396', 'Test # 2409',
       'Test # 2411', 'Test # 2412', 'Test # 2414', 'T20I # 1131',
       'T20I # 1132', 'T20I # 1133', 'T20I # 1135', 'T20I # 1138',
       'ODI # 4281', 'ODI # 4283', 'ODI # 4284', 'Test # 2425',
       'Test # 2428', 'Test # 2429', 'Test # 2432', 'Test # 2433',
       'T20I # 1361', 'T20I # 1381', 'T20I # 1390', 'T20I # 1396',
       'T20I # 1410', 'Test # 2438', 'Test # 2443', 'Test # 2448',
       'ODI # 4344', 'ODI # 4346', 'ODI # 4349', 'ODI # 4353',
       'ODI # 4355', 'ODI # 4356', 'T20I # 1467', 'T20I # 1473',
       'Test # 2452', 'Test # 2456', 'Test # 2470', 'T20I # 1628',
       'T20I # 1631', 'ODI # 4428', 'ODI # 4433', 'T20I # 1750',
       'T20I # 1754', 'T20I # 1758', 'T20I # 1759', 'T20I # 1761',
       'T20I # 1788', 'T20I # 1794', 'T20I # 1796', 'T20I # 1800',
       'T20I # 1803', 'T20I # 1842', 'T20I # 1848', 'T20I # 1853',
       'T20I # 1860', 'T20I # 1873', 'T20I # 1878', 'ODI # 4493',
       'ODI # 4496', 'ODI # 4499', 'Test # 2481', 'Test # 2484',
       'ODI # 4501', 'ODI # 4503', 'ODI # 4505', 'ODI # 4507',
       'ODI # 4509', 'ODI # 4511', 'Test # 2490', 'Test # 2493',
       'Test # 2496', 'Test # 2499', 'ODI # 4538', 'ODI # 4541',
       'ODI # 4545', 'Test # 2505', 'Test # 2510', 'Test # 2513',
       'ODI # 4622', 'ODI # 4630', 'ODI # 4632', 'ODI # 4639',
       'ODI # 4641', 'ODI # 4649', 'ODI # 4657', 'ODI # 4662',
       'ODI # 4666', 'ODI # 4669', 'ODI # 4674', 'ODI # 4678',
       'ODI # 4686', 'ODI # 4690', 'ODI # 4694', 'ODI # 4702',
       'ODI # 4703', 'ODI # 4705', 'Test # 2520', 'Test # 2522',
       'T20I # 2431', 'T20I # 2435', 'T20I # 2639', 'T20I # 2658',
       'T20I # 2671', 'T20I # 2710', 'T20I # 2716', 'T20I # 2721',
       'T20I # 2724', 'T20I # 2729', 'ODI # 4752', 'ODI # 4753',
       'ODI # 4754', 'Test # 2550', 'Test # 2552', 'Test # 2555',
       'Test # 2557', 'Test # 2560', 'Test # 2561', 'Test # 2568',
       'Test # 2570', 'Test # 2571', 'Test # 2575'], dtype=object)

We can clearly see that the format mentioned here is not needed. We can simply strip it to contain text after the #.

In [83]:
#extracting the match id by keeping the hashtag and numbers
batting['match_id']='#'+batting['match_id'].str.extract(r'(\d+$)')
batting = batting.rename(columns={'match_id':'Match ID'})

batting['Match ID']

0      #2742
1      #2745
2      #2750
3      #2755
4      #2756
       ...
634    #2570
635    #2571
636    #2571
637    #2575
638    #2575
Name: Match ID, Length: 639, dtype: object

In [84]:
batting = batting[['Match ID','Start Date','Format','Inns','Pos','Runs','BF','4s','6s','SR','Mins','Dismissal',
         'Opposition','Location']]

batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639 entries, 0 to 638
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Match ID    639 non-null    object
 1   Start Date  639 non-null    datetime64[ns]
 2   Format      639 non-null    object
 3   Inns        632 non-null    float64
 4   Pos         610 non-null    float64
 5   Runs        610 non-null    float64
 6   BF          610 non-null    float64
 7   4s          610 non-null    float64
 8   6s          610 non-null    float64
 9   SR          610 non-null    float64
 10  Mins        543 non-null    float64
 11  Dismissal   610 non-null    object
 12  Opposition  639 non-null    object
 13  Location    639 non-null    object
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 70.0+ KB

In [85]:
batting.head()

,Match ID,Start Date,Format,Inns,Pos,Runs,BF,4s,6s,SR,Mins,Dismissal,Opposition,Location
0,#2742,2008-08-18,ODI,1.0,2.0,12.0,22.0,1.0,0.0,54.54,33.0,lbw,Sri Lanka,Dambulla
1,#2745,2008-08-20,ODI,2.0,2.0,37.0,67.0,6.0,0.0,55.22,82.0,caught,Sri Lanka,Dambulla
2,#2750,2008-08-24,ODI,1.0,1.0,25.0,38.0,4.0,0.0,65.78,40.0,run out,Sri Lanka,Colombo
3,#2755,2008-08-27,ODI,1.0,1.0,54.0,66.0,7.0,0.0,81.81,87.0,bowled,Sri Lanka,Colombo
4,#2756,2008-08-29,ODI,2.0,1.0,31.0,46.0,3.0,1.0,67.39,45.0,lbw,Sri Lanka,Colombo

Our Batting Dataset is ready.

In [86]:
bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Overs       656 non-null    object
 1   Mdns        656 non-null    object
 2   Runs        656 non-null    object
 3   Wkts        656 non-null    object
 4   Econ        656 non-null    object
 5   Pos         656 non-null    object
 6   Inns        656 non-null    object
 7   Opposition  656 non-null    object
 8   Ground      656 non-null    object
 9   Start Date  656 non-null    object
 10  match_id    656 non-null    object
dtypes: object(11)
memory usage: 56.5+ KB

In [87]:
bowling.head()

,Overs,Mdns,Runs,Wkts,Econ,Pos,Inns,Opposition,Ground,Start Date,match_id
0,DNB,-,-,-,-,-,2,ODI v Sri Lanka,Dambulla,18 Aug 2008,ODI # 2742
1,DNB,-,-,-,-,-,1,ODI v Sri Lanka,Dambulla,20 Aug 2008,ODI # 2745
2,DNB,-,-,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),24 Aug 2008,ODI # 2750
3,DNB,-,-,-,-,-,2,ODI v Sri Lanka,Colombo (RPS),27 Aug 2008,ODI # 2755
4,DNB,-,-,-,-,-,1,ODI v Sri Lanka,Colombo (RPS),29 Aug 2008,ODI # 2756

We will follow the same process here:

1. Replace all the DNB, TDNB values with NaN. 
2. Replace all the '-' values with NaN. 
3. Split the opposition column into Opposition and Format. 
4. Clean the Ground column to keep only Location.
5. Change Data type of start date. 
6. Extract only the numeric part of match ID. 

Let us begin.

In [88]:
bowling['Overs'].describe()

count     656
unique     17
top       DNB
freq      578
Name: Overs, dtype: object

In [89]:
bowling['Overs'].unique()

array(['DNB', '3.0', '1.4', '2.0', '1.0', '6.0', '5.0', '4.0', '2.4',
       '8.0', '2.5', '7.0', '1.1', '0.5', 'TDNB', '0.2', '0.3'],
      dtype=object)

In [93]:
bowling['Overs'] = bowling['Overs'].str.strip("*").replace(
    ["TDNB","DNB"], np.nan).astype(float)

bowling['Overs'].unique()

array([nan, 3. , 1.4, 2. , 1. , 6. , 5. , 4. , 2.4, 8. , 2.5, 7. , 1.1,
       0.5, 0.2, 0.3])

In [94]:
bowling['Mdns'].describe()

count     656
unique      3
top         -
freq      582
Name: Mdns, dtype: object

In [95]:
bowling['Mdns'].unique()

array(['-', '0', '1'], dtype=object)

In [99]:
bowling['Mdns'] = bowling['Mdns'].replace('-',np.nan).astype(float)
bowling['Mdns'].unique()

array([nan,  0.,  1.])

In [100]:
bowling['Runs'].describe()

count     656
unique     28
top         -
freq      582
Name: Runs, dtype: object

In [101]:
bowling['Runs'].unique()

array(['-', '21', '12', '11', '16', '6', '7', '13', '22', '44', '18',
       '20', '14', '9', '23', '3', '4', '15', '27', '10', '26', '17',
       '24', '36', '1', '0', '5', '2'], dtype=object)

In [105]:
bowling['Runs'] = bowling['Runs'].replace('-',np.nan).astype(float)
bowling['Runs'].unique()

array([nan, 21., 12., 11., 16.,  6.,  7., 13., 22., 44., 18., 20., 14.,
        9., 23.,  3.,  4., 15., 27., 10., 26., 17., 24., 36.,  1.,  0.,
        5.,  2.])

In [106]:
bowling['Wkts'].describe()

count     656
unique      3
top         -
freq      582
Name: Wkts, dtype: object

In [107]:
bowling['Wkts'].unique()

array(['-', '0', '1'], dtype=object)

In [109]:
bowling['Wkts'] = bowling['Wkts'].replace('-',np.nan).astype(float)
bowling['Wkts'].unique()

array([nan,  0.,  1.])

In [110]:
bowling['Econ'].describe()

count     656
unique     34
top         -
freq      582
Name: Econ, dtype: object

In [111]:
bowling['Econ'].unique()

array(['-', '7.00', '7.20', '5.50', '5.33', '6.00', '4.33', '7.33',
       '3.66', '3.60', '6.66', '3.50', '4.87', '4.50', '11.00', '2.87',
       '3.00', '4.00', '14.00', '15.00', '9.00', '10.00', '10.50', '7.41',
       '6.50', '5.66', '12.00', '18.00', '7.50', '5.14', '2.16', '0.00',
       '4.28', '1.00'], dtype=object)

In [113]:
bowling['Econ'] = bowling['Econ'].replace('-',np.nan).astype(float)
bowling['Econ'].unique()

array([  nan,  7.  ,  7.2 ,  5.5 ,  5.33,  6.  ,  4.33,  7.33,  3.66,
        3.6 ,  6.66,  3.5 ,  4.87,  4.5 , 11.  ,  2.87,  3.  ,  4.  ,
       14.  , 15.  ,  9.  , 10.  , 10.5 ,  7.41,  6.5 ,  5.66, 12.  ,
       18.  ,  7.5 ,  5.14,  2.16,  0.  ,  4.28,  1.  ])

In [114]:
bowling['Pos'].describe()

count     656
unique      7
top         -
freq      582
Name: Pos, dtype: object

In [115]:
bowling['Pos'].unique()

array(['-', '4', '3', '6', '5', '7', '8'], dtype=object)

In [117]:
bowling['Pos'] = bowling['Pos'].replace('-',np.nan).astype(float)
bowling['Pos'].unique()

array([nan,  4.,  3.,  6.,  5.,  7.,  8.])

In [118]:
bowling['Inns'].describe()

count     656
unique      5
top         1
freq      274
Name: Inns, dtype: object

In [119]:
bowling['Inns'].unique()

array(['2', '1', '4', '3', '-'], dtype=object)

In [121]:
bowling['Inns'] = bowling['Inns'].replace('-',np.nan).astype(float)
bowling['Inns'].unique()

array([ 2.,  1.,  4.,  3., nan])

In [122]:
bowling['Opposition'].describe()

count                  656
unique                  38
top       Test v Australia
freq                    58
Name: Opposition, dtype: object

In [123]:
bowling['Opposition'].unique()

array(['ODI v Sri Lanka', 'ODI v Pakistan', 'ODI v Australia',
       'ODI v West Indies', 'ODI v Bangladesh', 'ODI v South Africa',
       'ODI v Zimbabwe', 'T20I v Zimbabwe', 'ODI v New Zealand',
       'T20I v South Africa', 'ODI v England', 'ODI v Ireland',
       'ODI v Netherlands', 'T20I v West Indies', 'Test v West Indies',
       'T20I v England', 'Test v Australia', 'T20I v Australia',
       'T20I v Sri Lanka', 'Test v New Zealand', 'T20I v New Zealand',
       'T20I v Afghanistan', 'T20I v Pakistan', 'Test v England',
       'Test v South Africa', 'ODI v Afghanistan', 'T20I v Bangladesh',
       'ODI v U.A.E.', 'Test v Bangladesh', 'Test v Sri Lanka',
       'T20I v U.A.E.', 'T20I v Ireland', 'T20I v Scotland',
       'T20I v Namibia', 'T20I v Hong Kong', 'T20I v Netherlands',
       'ODI v Nepal', 'T20I v U.S.A.'], dtype=object)

In [124]:
bowling['Format'] = bowling['Opposition'].str.extract(r'(^.*?)\sv\s')
bowling['Opposition'] = bowling['Opposition'].str.extract(r'\sv\s(.*?$)')

bowling[['Opposition','Format']]

    Opposition Format
0    Sri Lanka    ODI
1    Sri Lanka    ODI
2    Sri Lanka    ODI
3    Sri Lanka    ODI
4    Sri Lanka    ODI
..         ...    ...
651  Australia   Test
652  Australia   Test
653  Australia   Test
654  Australia   Test
655  Australia   Test

[656 rows x 2 columns]

In [125]:
bowling['Ground'].describe()

count        656
unique        80
top       Mirpur
freq          29
Name: Ground, dtype: object

In [126]:
bowling['Ground'].unique()

array(['Dambulla', 'Colombo (RPS)', 'Centurion', 'Johannesburg',
       'Vadodara', 'Mohali', 'Rajkot', 'Nagpur', 'Eden Gardens', 'Delhi',
       'Mirpur', 'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Wankhede', 'Port of Spain',
       'North Sound', 'Kingston', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'The Oval', "Lord's",
       'Cardiff', 'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney',
       'W.A.C.A', 'Adelaide', 'Brisbane', 'Hobart', 'Hambantota',
       'Pallekele', 'Pune', 'Kochi', 'Ranchi', 'Dharamsala', 'Birmingham',
       'Kanpur', 'Napier', 'Hamilton', 'Auckland', 'Wellington',
       'Fatullah', 'Nottingham', 'Leeds', 'Galle', 'Colombo (PSS)',
       'Colombo (SSC)', 'Canberra', 'Gros Islet', 'Lauderhill',
       'Thiruvananthapuram', 'Dublin (Malahide)', 'Bristol', 'Brabourne',
       'Perth', 'Mount Maunganui', 'Providence', 'Christchurch',
       'Dubai (DICS)', 'Abu Dhabi', 'Paarl', 'Chattogram', 'Raipur',
       'Lucknow', 'New York'], dtype=object)

In [127]:
# Define the mapping dictionary
ground_mapping = {
    "Colombo (SSC)": "Colombo",
    "Colombo (PSS)": "Colombo",
    "Colombo (RPS)": "Colombo",
    "Eden Gardens": "Kolkata",
    "Wankhede": "Mumbai",
    "Brabourne": "Mumbai",
    "Kingston": "Kingston Jamaica",
    "The Oval": "London",
    "Lord's": "London",
    "W.A.C.A": "Perth",
    "Dharamsala": "Dharamshala",
    "Hamilton": "Hamilton Waikato",
    "Fatullah": "Fatullah Dhaka",
    "Providence": "Providence Guyana",
    "Dubai (DICS)": "Dubai",
    "Chattogram": "Chattogram Chittagong"
}

bowling['Ground'].replace(ground_mapping).unique()

array(['Dambulla', 'Colombo', 'Centurion', 'Johannesburg', 'Vadodara',
       'Mohali', 'Rajkot', 'Nagpur', 'Kolkata', 'Delhi', 'Mirpur',
       'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Mumbai', 'Port of Spain', 'North Sound',
       'Kingston Jamaica', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'London', 'Cardiff',
       'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney', 'Perth',
       'Adelaide', 'Brisbane', 'Hobart', 'Hambantota', 'Pallekele',
       'Pune', 'Kochi', 'Ranchi', 'Dharamshala', 'Birmingham', 'Kanpur',
       'Napier', 'Hamilton Waikato', 'Auckland', 'Wellington',
       'Fatullah Dhaka', 'Nottingham', 'Leeds', 'Galle', 'Canberra',
       'Gros Islet', 'Lauderhill', 'Thiruvananthapuram',
       'Dublin (Malahide)', 'Bristol', 'Mount Maunganui',
       'Providence Guyana', 'Christchurch', 'Dubai', 'Abu Dhabi', 'Paarl',
       'Chattogram Chittagong', 'Raipur', 'Lucknow', 'New York'],
      dtype=object)

In [128]:
bowling['Ground']=bowling['Ground'].replace(ground_mapping)
bowling = bowling.rename(columns={'Ground':'Location'})

bowling['Location'].unique()

array(['Dambulla', 'Colombo', 'Centurion', 'Johannesburg', 'Vadodara',
       'Mohali', 'Rajkot', 'Nagpur', 'Kolkata', 'Delhi', 'Mirpur',
       'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Mumbai', 'Port of Spain', 'North Sound',
       'Kingston Jamaica', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'London', 'Cardiff',
       'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney', 'Perth',
       'Adelaide', 'Brisbane', 'Hobart', 'Hambantota', 'Pallekele',
       'Pune', 'Kochi', 'Ranchi', 'Dharamshala', 'Birmingham', 'Kanpur',
       'Napier', 'Hamilton Waikato', 'Auckland', 'Wellington',
       'Fatullah Dhaka', 'Nottingham', 'Leeds', 'Galle', 'Canberra',
       'Gros Islet', 'Lauderhill', 'Thiruvananthapuram',
       'Dublin (Malahide)', 'Bristol', 'Mount Maunganui',
       'Providence Guyana', 'Christchurch', 'Dubai', 'Abu Dhabi', 'Paarl',
       'Chattogram Chittagong', 'Raipur', 'Lucknow', 'New York'],
      dtype=object)

In [129]:
bowling['Start Date'].describe()

count             656
unique            543
top       14 Mar 2013
freq                2
Name: Start Date, dtype: object

In [130]:
bowling['Start Date'].unique()

array(['18 Aug 2008', '20 Aug 2008', '24 Aug 2008', '27 Aug 2008',
       '29 Aug 2008', '14 Sep 2009', '26 Sep 2009', '28 Sep 2009',
       '30 Sep 2009', '25 Oct 2009', '2 Nov 2009', '15 Dec 2009',
       '18 Dec 2009', '24 Dec 2009', '27 Dec 2009', '5 Jan 2010',
       '7 Jan 2010', '10 Jan 2010', '11 Jan 2010', '13 Jan 2010',
       '21 Feb 2010', '24 Feb 2010', '27 Feb 2010', '28 May 2010',
       '30 May 2010', '3 Jun 2010', '5 Jun 2010', '12 Jun 2010',
       '13 Jun 2010', '16 Jun 2010', '19 Jun 2010', '22 Jun 2010',
       '24 Jun 2010', '16 Aug 2010', '25 Aug 2010', '28 Aug 2010',
       '20 Oct 2010', '28 Nov 2010', '1 Dec 2010', '4 Dec 2010',
       '7 Dec 2010', '10 Dec 2010', '9 Jan 2011', '12 Jan 2011',
       '15 Jan 2011', '18 Jan 2011', '21 Jan 2011', '23 Jan 2011',
       '19 Feb 2011', '27 Feb 2011', '6 Mar 2011', '9 Mar 2011',
       '12 Mar 2011', '20 Mar 2011', '24 Mar 2011', '30 Mar 2011',
       '2 Apr 2011', '4 Jun 2011', '6 Jun 2011', '8 Jun 2011',
       '11 Jun 2011', '13 Jun 2011', '16 Jun 2011', '20 Jun 2011',
       '28 Jun 2011', '6 Jul 2011', '31 Aug 2011', '3 Sep 2011',
       '6 Sep 2011', '9 Sep 2011', '11 Sep 2011', '16 Sep 2011',
       '14 Oct 2011', '17 Oct 2011', '20 Oct 2011', '23 Oct 2011',
       '25 Oct 2011', '29 Oct 2011', '22 Nov 2011', '29 Nov 2011',
       '2 Dec 2011', '5 Dec 2011', '8 Dec 2011', '11 Dec 2011',
       '26 Dec 2011', '3 Jan 2012', '13 Jan 2012', '24 Jan 2012',
       '1 Feb 2012', '3 Feb 2012', '5 Feb 2012', '8 Feb 2012',
       '12 Feb 2012', '14 Feb 2012', '19 Feb 2012', '21 Feb 2012',
       '26 Feb 2012', '28 Feb 2012', '13 Mar 2012', '16 Mar 2012',
       '18 Mar 2012', '30 Mar 2012', '21 Jul 2012', '24 Jul 2012',
       '28 Jul 2012', '31 Jul 2012', '4 Aug 2012', '7 Aug 2012',
       '23 Aug 2012', '31 Aug 2012', '11 Sep 2012', '19 Sep 2012',
       '23 Sep 2012', '28 Sep 2012', '30 Sep 2012', '2 Oct 2012',
       '15 Nov 2012', '23 Nov 2012', '5 Dec 2012', '13 Dec 2012',
       '20 Dec 2012', '22 Dec 2012', '25 Dec 2012', '28 Dec 2012',
       '30 Dec 2012', '3 Jan 2013', '6 Jan 2013', '11 Jan 2013',
       '15 Jan 2013', '19 Jan 2013', '23 Jan 2013', '27 Jan 2013',
       '22 Feb 2013', '2 Mar 2013', '14 Mar 2013', '22 Mar 2013',
       '6 Jun 2013', '11 Jun 2013', '15 Jun 2013', '20 Jun 2013',
       '23 Jun 2013', '30 Jun 2013', '2 Jul 2013', '5 Jul 2013',
       '9 Jul 2013', '11 Jul 2013', '24 Jul 2013', '26 Jul 2013',
       '28 Jul 2013', '1 Aug 2013', '3 Aug 2013', '10 Oct 2013',
       '13 Oct 2013', '16 Oct 2013', '19 Oct 2013', '23 Oct 2013',
       '30 Oct 2013', '2 Nov 2013', '6 Nov 2013', '14 Nov 2013',
       '21 Nov 2013', '24 Nov 2013', '27 Nov 2013', '5 Dec 2013',
       '8 Dec 2013', '11 Dec 2013', '18 Dec 2013', '26 Dec 2013',
       '19 Jan 2014', '22 Jan 2014', '25 Jan 2014', '28 Jan 2014',
       '31 Jan 2014', '6 Feb 2014', '14 Feb 2014', '26 Feb 2014',
       '28 Feb 2014', '2 Mar 2014', '5 Mar 2014', '21 Mar 2014',
       '23 Mar 2014', '28 Mar 2014', '30 Mar 2014', '4 Apr 2014',
       '6 Apr 2014', '9 Jul 2014', '17 Jul 2014', '27 Jul 2014',
       '7 Aug 2014', '15 Aug 2014', '27 Aug 2014', '30 Aug 2014',
       '2 Sep 2014', '5 Sep 2014', '7 Sep 2014', '8 Oct 2014',
       '11 Oct 2014', '17 Oct 2014', '2 Nov 2014', '6 Nov 2014',
       '9 Nov 2014', '13 Nov 2014', '16 Nov 2014', '9 Dec 2014',
       '17 Dec 2014', '26 Dec 2014', '6 Jan 2015', '18 Jan 2015',
       '20 Jan 2015', '26 Jan 2015', '30 Jan 2015', '15 Feb 2015',
       '22 Feb 2015', '28 Feb 2015', '6 Mar 2015', '10 Mar 2015',
       '14 Mar 2015', '19 Mar 2015', '26 Mar 2015', '10 Jun 2015',
       '18 Jun 2015', '21 Jun 2015', '24 Jun 2015', '12 Aug 2015',
       '20 Aug 2015', '28 Aug 2015', '2 Oct 2015', '5 Oct 2015',
       '11 Oct 2015', '14 Oct 2015', '18 Oct 2015', '22 Oct 2015',
       '25 Oct 2015', '5 Nov 2015', '14 Nov 2015', '25 Nov 2015',
       '3 Dec 2015', '12 Jan 2016', '15 Jan 2016', '17 Jan 2016',
       '20 Jan 2016', '23 Jan 2016', '26 Jan 2016', '29 Jan 2016',
       '31 Jan 2016', '24 Feb 2016', '27 Feb 2016', '1 Mar 2016',
       '3 Mar 2016', '6 Mar 2016', '15 Mar 2016', '19 Mar 2016',
       '23 Mar 2016', '27 Mar 2016', '31 Mar 2016', '21 Jul 2016',
       '30 Jul 2016', '9 Aug 2016', '18 Aug 2016', '27 Aug 2016',
       '28 Aug 2016', '22 Sep 2016', '30 Sep 2016', '8 Oct 2016',
       '16 Oct 2016', '20 Oct 2016', '23 Oct 2016', '26 Oct 2016',
       '29 Oct 2016', '9 Nov 2016', '17 Nov 2016', '26 Nov 2016',
       '8 Dec 2016', '16 Dec 2016', '15 Jan 2017', '19 Jan 2017',
       '22 Jan 2017', '26 Jan 2017', '29 Jan 2017', '1 Feb 2017',
       '9 Feb 2017', '23 Feb 2017', '4 Mar 2017', '16 Mar 2017',
       '4 Jun 2017', '8 Jun 2017', '11 Jun 2017', '15 Jun 2017',
       '18 Jun 2017', '23 Jun 2017', '25 Jun 2017', '30 Jun 2017',
       '2 Jul 2017', '6 Jul 2017', '9 Jul 2017', '26 Jul 2017',
       '3 Aug 2017', '12 Aug 2017', '20 Aug 2017', '24 Aug 2017',
       '27 Aug 2017', '31 Aug 2017', '3 Sep 2017', '6 Sep 2017',
       '17 Sep 2017', '21 Sep 2017', '24 Sep 2017', '28 Sep 2017',
       '1 Oct 2017', '7 Oct 2017', '10 Oct 2017', '22 Oct 2017',
       '25 Oct 2017', '29 Oct 2017', '1 Nov 2017', '4 Nov 2017',
       '7 Nov 2017', '16 Nov 2017', '24 Nov 2017', '2 Dec 2017',
       '5 Jan 2018', '13 Jan 2018', '24 Jan 2018', '1 Feb 2018',
       '4 Feb 2018', '7 Feb 2018', '10 Feb 2018', '13 Feb 2018',
       '16 Feb 2018', '18 Feb 2018', '21 Feb 2018', '27 Jun 2018',
       '29 Jun 2018', '3 Jul 2018', '6 Jul 2018', '8 Jul 2018',
       '12 Jul 2018', '14 Jul 2018', '17 Jul 2018', '1 Aug 2018',
       '9 Aug 2018', '18 Aug 2018', '30 Aug 2018', '7 Sep 2018',
       '4 Oct 2018', '12 Oct 2018', '21 Oct 2018', '24 Oct 2018',
       '27 Oct 2018', '29 Oct 2018', '1 Nov 2018', '21 Nov 2018',
       '23 Nov 2018', '25 Nov 2018', '6 Dec 2018', '14 Dec 2018',
       '26 Dec 2018', '3 Jan 2019', '12 Jan 2019', '15 Jan 2019',
       '18 Jan 2019', '23 Jan 2019', '26 Jan 2019', '28 Jan 2019',
       '24 Feb 2019', '27 Feb 2019', '2 Mar 2019', '5 Mar 2019',
       '8 Mar 2019', '10 Mar 2019', '13 Mar 2019', '5 Jun 2019',
       '9 Jun 2019', '16 Jun 2019', '22 Jun 2019', '27 Jun 2019',
       '30 Jun 2019', '2 Jul 2019', '6 Jul 2019', '9 Jul 2019',
       '3 Aug 2019', '4 Aug 2019', '6 Aug 2019', '8 Aug 2019',
       '11 Aug 2019', '14 Aug 2019', '22 Aug 2019', '30 Aug 2019',
       '18 Sep 2019', '22 Sep 2019', '2 Oct 2019', '10 Oct 2019',
       '19 Oct 2019', '14 Nov 2019', '22 Nov 2019', '6 Dec 2019',
       '8 Dec 2019', '11 Dec 2019', '15 Dec 2019', '18 Dec 2019',
       '22 Dec 2019', '5 Jan 2020', '7 Jan 2020', '10 Jan 2020',
       '14 Jan 2020', '17 Jan 2020', '19 Jan 2020', '24 Jan 2020',
       '26 Jan 2020', '29 Jan 2020', '31 Jan 2020', '5 Feb 2020',
       '8 Feb 2020', '11 Feb 2020', '21 Feb 2020', '29 Feb 2020',
       '27 Nov 2020', '29 Nov 2020', '2 Dec 2020', '4 Dec 2020',
       '6 Dec 2020', '8 Dec 2020', '17 Dec 2020', '5 Feb 2021',
       '13 Feb 2021', '24 Feb 2021', '4 Mar 2021', '12 Mar 2021',
       '14 Mar 2021', '16 Mar 2021', '18 Mar 2021', '20 Mar 2021',
       '23 Mar 2021', '26 Mar 2021', '28 Mar 2021', '18 Jun 2021',
       '4 Aug 2021', '12 Aug 2021', '25 Aug 2021', '2 Sep 2021',
       '24 Oct 2021', '31 Oct 2021', '3 Nov 2021', '5 Nov 2021',
       '8 Nov 2021', '3 Dec 2021', '26 Dec 2021', '11 Jan 2022',
       '19 Jan 2022', '21 Jan 2022', '23 Jan 2022', '6 Feb 2022',
       '9 Feb 2022', '11 Feb 2022', '16 Feb 2022', '18 Feb 2022',
       '4 Mar 2022', '12 Mar 2022', '1 Jul 2022', '9 Jul 2022',
       '10 Jul 2022', '14 Jul 2022', '17 Jul 2022', '28 Aug 2022',
       '31 Aug 2022', '4 Sep 2022', '6 Sep 2022', '8 Sep 2022',
       '20 Sep 2022', '23 Sep 2022', '25 Sep 2022', '28 Sep 2022',
       '2 Oct 2022', '23 Oct 2022', '27 Oct 2022', '30 Oct 2022',
       '2 Nov 2022', '6 Nov 2022', '10 Nov 2022', '4 Dec 2022',
       '7 Dec 2022', '10 Dec 2022', '14 Dec 2022', '22 Dec 2022',
       '10 Jan 2023', '12 Jan 2023', '15 Jan 2023', '18 Jan 2023',
       '21 Jan 2023', '24 Jan 2023', '9 Feb 2023', '17 Feb 2023',
       '1 Mar 2023', '9 Mar 2023', '17 Mar 2023', '19 Mar 2023',
       '22 Mar 2023', '7 Jun 2023', '12 Jul 2023', '20 Jul 2023',
       '27 Jul 2023', '2 Sep 2023', '4 Sep 2023', '10 Sep 2023',
       '12 Sep 2023', '17 Sep 2023', '27 Sep 2023', '8 Oct 2023',
       '11 Oct 2023', '14 Oct 2023', '19 Oct 2023', '22 Oct 2023',
       '29 Oct 2023', '2 Nov 2023', '5 Nov 2023', '12 Nov 2023',
       '15 Nov 2023', '19 Nov 2023', '26 Dec 2023', '3 Jan 2024',
       '14 Jan 2024', '17 Jan 2024', '5 Jun 2024', '9 Jun 2024',
       '12 Jun 2024', '20 Jun 2024', '22 Jun 2024', '24 Jun 2024',
       '27 Jun 2024', '29 Jun 2024', '2 Aug 2024', '4 Aug 2024',
       '7 Aug 2024', '19 Sep 2024', '27 Sep 2024', '16 Oct 2024',
       '24 Oct 2024', '1 Nov 2024', '22 Nov 2024', '6 Dec 2024',
       '14 Dec 2024', '26 Dec 2024', '3 Jan 2025'], dtype=object)

In [132]:
bowling['Start Date'] = bowling['Start Date'].astype('datetime64[ns]')
bowling['Start Date']

0     2008-08-18
1     2008-08-20
2     2008-08-24
3     2008-08-27
4     2008-08-29
         ...
651   2024-12-14
652   2024-12-26
653   2024-12-26
654   2025-01-03
655   2025-01-03
Name: Start Date, Length: 656, dtype: datetime64[ns]

In [134]:
bowling['match_id'].describe()

count             656
unique            543
top       Test # 2081
freq                2
Name: match_id, dtype: object

In [135]:
bowling['match_id'].unique()

array(['ODI # 2742', 'ODI # 2745', 'ODI # 2750', 'ODI # 2755',
       'ODI # 2756', 'ODI # 2889', 'ODI # 2898', 'ODI # 2901',
       'ODI # 2904', 'ODI # 2913', 'ODI # 2919', 'ODI # 2932',
       'ODI # 2933', 'ODI # 2935', 'ODI # 2936', 'ODI # 2938',
       'ODI # 2939', 'ODI # 2941', 'ODI # 2942', 'ODI # 2943',
       'ODI # 2961', 'ODI # 2962', 'ODI # 2963', 'ODI # 2981',
       'ODI # 2983', 'ODI # 2986', 'ODI # 2988', 'T20I # 182',
       'T20I # 183', 'ODI # 2993', 'ODI # 2996', 'ODI # 2999',
       'ODI # 3001', 'ODI # 3032', 'ODI # 3039', 'ODI # 3040',
       'ODI # 3060', 'ODI # 3070', 'ODI # 3072', 'ODI # 3074',
       'ODI # 3076', 'ODI # 3077', 'T20I # 196', 'ODI # 3079',
       'ODI # 3080', 'ODI # 3082', 'ODI # 3084', 'ODI # 3087',
       'ODI # 3100', 'ODI # 3110', 'ODI # 3121', 'ODI # 3124',
       'ODI # 3128', 'ODI # 3141', 'ODI # 3143', 'ODI # 3147',
       'ODI # 3148', 'T20I # 200', 'ODI # 3159', 'ODI # 3160',
       'ODI # 3161', 'ODI # 3162', 'ODI # 3163', 'Test # 1997',
       'Test # 1998', 'Test # 1999', 'T20I # 204', 'ODI # 3186',
       'ODI # 3187', 'ODI # 3189', 'ODI # 3191', 'ODI # 3195',
       'ODI # 3199', 'ODI # 3201', 'ODI # 3205', 'ODI # 3207',
       'ODI # 3210', 'T20I # 214', 'Test # 2019', 'ODI # 3217',
       'ODI # 3219', 'ODI # 3221', 'ODI # 3223', 'ODI # 3224',
       'Test # 2025', 'Test # 2027', 'Test # 2029', 'Test # 2031',
       'T20I # 217', 'T20I # 218', 'ODI # 3231', 'ODI # 3233',
       'ODI # 3237', 'ODI # 3239', 'ODI # 3244', 'ODI # 3246',
       'ODI # 3250', 'ODI # 3251', 'ODI # 3259', 'ODI # 3261',
       'ODI # 3263', 'T20I # 242', 'ODI # 3291', 'ODI # 3292',
       'ODI # 3293', 'ODI # 3294', 'ODI # 3295', 'T20I # 255',
       'Test # 2054', 'Test # 2055', 'T20I # 261', 'T20I # 265',
       'T20I # 272', 'T20I # 278', 'T20I # 282', 'T20I # 286',
       'Test # 2058', 'Test # 2062', 'Test # 2065', 'Test # 2066',
       'T20I # 292', 'T20I # 294', 'T20I # 296', 'T20I # 298',
       'ODI # 3314', 'ODI # 3315', 'ODI # 3316', 'ODI # 3318',
       'ODI # 3320', 'ODI # 3322', 'ODI # 3327', 'ODI # 3329',
       'Test # 2074', 'Test # 2076', 'Test # 2081', 'Test # 2085',
       'ODI # 3363', 'ODI # 3368', 'ODI # 3372', 'ODI # 3376',
       'ODI # 3377', 'ODI # 3380', 'ODI # 3382', 'ODI # 3383',
       'ODI # 3387', 'ODI # 3388', 'ODI # 3395', 'ODI # 3397',
       'ODI # 3399', 'ODI # 3402', 'ODI # 3403', 'T20I # 331',
       'ODI # 3419', 'ODI # 3420', 'ODI # 3421', 'ODI # 3422',
       'ODI # 3424', 'ODI # 3428', 'Test # 2101', 'Test # 2102',
       'ODI # 3436', 'ODI # 3437', 'ODI # 3439', 'ODI # 3442',
       'ODI # 3443', 'ODI # 3444', 'Test # 2108', 'Test # 2111',
       'ODI # 3456', 'ODI # 3458', 'ODI # 3462', 'ODI # 3465',
       'ODI # 3467', 'Test # 2118', 'Test # 2120', 'ODI # 3474',
       'ODI # 3476', 'ODI # 3479', 'ODI # 3483', 'T20I # 378',
       'T20I # 382', 'T20I # 389', 'T20I # 393', 'T20I # 399',
       'T20I # 400', 'Test # 2128', 'Test # 2130', 'Test # 2132',
       'Test # 2134', 'Test # 2137', 'ODI # 3517', 'ODI # 3520',
       'ODI # 3523', 'ODI # 3525', 'T20I # 405', 'ODI # 3531',
       'ODI # 3533', 'ODI # 3535', 'ODI # 3539', 'ODI # 3540',
       'ODI # 3543', 'ODI # 3544', 'ODI # 3547', 'Test # 2148',
       'Test # 2149', 'Test # 2152', 'Test # 2156', 'ODI # 3582',
       'ODI # 3586', 'ODI # 3592', 'ODI # 3595', 'ODI # 3602',
       'ODI # 3610', 'ODI # 3618', 'ODI # 3625', 'ODI # 3631',
       'ODI # 3636', 'ODI # 3641', 'ODI # 3645', 'Test # 2165',
       'ODI # 3658', 'ODI # 3660', 'ODI # 3661', 'Test # 2176',
       'Test # 2177', 'Test # 2179', 'T20I # 456', 'T20I # 457',
       'ODI # 3689', 'ODI # 3692', 'ODI # 3695', 'ODI # 3698',
       'ODI # 3700', 'Test # 2186', 'Test # 2188', 'Test # 2189',
       'Test # 2191', 'ODI # 3723', 'ODI # 3724', 'ODI # 3725',
       'ODI # 3726', 'ODI # 3727', 'T20I # 485', 'T20I # 486',
       'T20I # 489', 'T20I # 509', 'T20I # 512', 'T20I # 515',
       'T20I # 517', 'T20I # 521', 'T20I # 535', 'T20I # 541',
       'T20I # 547', 'T20I # 553', 'T20I # 556', 'Test # 2207',
       'Test # 2211', 'Test # 2215', 'Test # 2218', 'T20I # 562',
       'T20I # 563', 'Test # 2221', 'Test # 2222', 'Test # 2223',
       'ODI # 3796', 'ODI # 3797', 'ODI # 3798', 'ODI # 3799',
       'ODI # 3800', 'Test # 2232', 'Test # 2235', 'Test # 2238',
       'Test # 2239', 'Test # 2241', 'ODI # 3819', 'ODI # 3821',
       'ODI # 3824', 'T20I # 592', 'T20I # 593', 'T20I # 594',
       'Test # 2249', 'Test # 2250', 'Test # 2251', 'Test # 2256',
       'ODI # 3878', 'ODI # 3882', 'ODI # 3886', 'ODI # 3891',
       'ODI # 3894', 'ODI # 3895', 'ODI # 3896', 'ODI # 3898',
       'ODI # 3900', 'ODI # 3902', 'T20I # 617', 'Test # 2265',
       'Test # 2267', 'Test # 2269', 'ODI # 3905', 'ODI # 3906',
       'ODI # 3907', 'ODI # 3908', 'ODI # 3909', 'T20I # 618',
       'ODI # 3910', 'ODI # 3912', 'ODI # 3914', 'ODI # 3917',
       'ODI # 3919', 'T20I # 623', 'T20I # 624', 'ODI # 3928',
       'ODI # 3931', 'ODI # 3932', 'T20I # 630', 'T20I # 631',
       'T20I # 632', 'Test # 2281', 'Test # 2283', 'Test # 2286',
       'Test # 2292', 'Test # 2293', 'Test # 2294', 'ODI # 3969',
       'ODI # 3970', 'ODI # 3971', 'ODI # 3973', 'ODI # 3976',
       'ODI # 3978', 'T20I # 652', 'T20I # 654', 'T20I # 678',
       'T20I # 680', 'T20I # 684', 'T20I # 688', 'T20I # 690',
       'ODI # 4014', 'ODI # 4016', 'ODI # 4018', 'Test # 2314',
       'Test # 2315', 'Test # 2316', 'Test # 2317', 'Test # 2318',
       'Test # 2319', 'Test # 2321', 'ODI # 4056', 'ODI # 4059',
       'ODI # 4062', 'ODI # 4063', 'ODI # 4064', 'T20I # 712',
       'T20I # 713', 'T20I # 714', 'Test # 2333', 'Test # 2334',
       'Test # 2337', 'Test # 2339', 'ODI # 4077', 'ODI # 4078',
       'ODI # 4079', 'ODI # 4082', 'ODI # 4085', 'ODI # 4088',
       'T20I # 748', 'T20I # 749', 'ODI # 4102', 'ODI # 4106',
       'ODI # 4109', 'ODI # 4111', 'ODI # 4113', 'ODI # 4150',
       'ODI # 4155', 'ODI # 4161', 'ODI # 4169', 'ODI # 4175',
       'ODI # 4179', 'ODI # 4182', 'ODI # 4187', 'ODI # 4190',
       'T20I # 842', 'T20I # 843', 'T20I # 846', 'ODI # 4196',
       'ODI # 4197', 'ODI # 4199', 'Test # 2358', 'Test # 2359',
       'T20I # 888', 'T20I # 893', 'Test # 2363', 'Test # 2364',
       'Test # 2365', 'Test # 2366', 'Test # 2369', 'T20I # 1020',
       'T20I # 1022', 'T20I # 1024', 'ODI # 4221', 'ODI # 4222',
       'ODI # 4223', 'T20I # 1025', 'T20I # 1026', 'T20I # 1027',
       'ODI # 4231', 'ODI # 4232', 'ODI # 4233', 'T20I # 1031',
       'T20I # 1034', 'T20I # 1035', 'T20I # 1036', 'ODI # 4235',
       'ODI # 4239', 'ODI # 4243', 'Test # 2385', 'Test # 2387',
       'ODI # 4265', 'ODI # 4266', 'ODI # 4267', 'T20I # 1114',
       'T20I # 1115', 'T20I # 1116', 'Test # 2396', 'Test # 2409',
       'Test # 2411', 'Test # 2412', 'Test # 2414', 'T20I # 1131',
       'T20I # 1132', 'T20I # 1133', 'T20I # 1135', 'T20I # 1138',
       'ODI # 4281', 'ODI # 4283', 'ODI # 4284', 'Test # 2425',
       'Test # 2428', 'Test # 2429', 'Test # 2432', 'Test # 2433',
       'T20I # 1361', 'T20I # 1381', 'T20I # 1390', 'T20I # 1396',
       'T20I # 1410', 'Test # 2438', 'Test # 2443', 'Test # 2448',
       'ODI # 4344', 'ODI # 4346', 'ODI # 4349', 'ODI # 4353',
       'ODI # 4355', 'ODI # 4356', 'T20I # 1467', 'T20I # 1473',
       'Test # 2452', 'Test # 2456', 'Test # 2470', 'T20I # 1628',
       'T20I # 1631', 'ODI # 4428', 'ODI # 4433', 'T20I # 1750',
       'T20I # 1754', 'T20I # 1758', 'T20I # 1759', 'T20I # 1761',
       'T20I # 1788', 'T20I # 1794', 'T20I # 1796', 'T20I # 1800',
       'T20I # 1803', 'T20I # 1842', 'T20I # 1848', 'T20I # 1853',
       'T20I # 1860', 'T20I # 1873', 'T20I # 1878', 'ODI # 4493',
       'ODI # 4496', 'ODI # 4499', 'Test # 2481', 'Test # 2484',
       'ODI # 4501', 'ODI # 4503', 'ODI # 4505', 'ODI # 4507',
       'ODI # 4509', 'ODI # 4511', 'Test # 2490', 'Test # 2493',
       'Test # 2496', 'Test # 2499', 'ODI # 4538', 'ODI # 4541',
       'ODI # 4545', 'Test # 2505', 'Test # 2510', 'Test # 2513',
       'ODI # 4622', 'ODI # 4630', 'ODI # 4632', 'ODI # 4639',
       'ODI # 4641', 'ODI # 4649', 'ODI # 4657', 'ODI # 4662',
       'ODI # 4666', 'ODI # 4669', 'ODI # 4674', 'ODI # 4678',
       'ODI # 4686', 'ODI # 4690', 'ODI # 4694', 'ODI # 4702',
       'ODI # 4703', 'ODI # 4705', 'Test # 2520', 'Test # 2522',
       'T20I # 2431', 'T20I # 2435', 'T20I # 2639', 'T20I # 2658',
       'T20I # 2671', 'T20I # 2710', 'T20I # 2716', 'T20I # 2721',
       'T20I # 2724', 'T20I # 2729', 'ODI # 4752', 'ODI # 4753',
       'ODI # 4754', 'Test # 2550', 'Test # 2552', 'Test # 2555',
       'Test # 2557', 'Test # 2560', 'Test # 2561', 'Test # 2568',
       'Test # 2570', 'Test # 2571', 'Test # 2575'], dtype=object)

In [136]:
#extracting the match id by keeping the hashtag and numbers
bowling['match_id']='#'+bowling['match_id'].str.extract(r'(\d+$)')
bowling = bowling.rename(columns={'match_id':'Match ID'})

bowling['Match ID']

0      #2742
1      #2745
2      #2750
3      #2755
4      #2756
       ...
651    #2570
652    #2571
653    #2571
654    #2575
655    #2575
Name: Match ID, Length: 656, dtype: object

In [138]:
bowling = bowling[['Match ID','Start Date','Format','Inns','Pos','Overs','Mdns','Runs','Wkts','Econ',
         'Opposition','Location']]

bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Match ID    656 non-null    object
 1   Start Date  656 non-null    datetime64[ns]
 2   Format      656 non-null    object
 3   Inns        652 non-null    float64
 4   Pos         74 non-null     float64
 5   Overs       74 non-null     float64
 6   Mdns        74 non-null     float64
 7   Runs        74 non-null     float64
 8   Wkts        74 non-null     float64
 9   Econ        74 non-null     float64
 10  Opposition  656 non-null    object
 11  Location    656 non-null    object
dtypes: datetime64[ns](1), float64(7), object(4)
memory usage: 61.6+ KB

In [140]:
bowling.head(10)

,Match ID,Start Date,Format,Inns,Pos,Overs,Mdns,Runs,Wkts,Econ,Opposition,Location
0,#2742,2008-08-18,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Dambulla
1,#2745,2008-08-20,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Dambulla
2,#2750,2008-08-24,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo
3,#2755,2008-08-27,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo
4,#2756,2008-08-29,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo
5,#2889,2009-09-14,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo
6,#2898,2009-09-26,ODI,1.0,4.0,3.0,0.0,21.0,0.0,7.0,Pakistan,Centurion
7,#2901,2009-09-28,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Australia,Centurion
8,#2904,2009-09-30,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,West Indies,Johannesburg
9,#2913,2009-10-25,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Australia,Vadodara

Our bowling Dataset is ready.

In [141]:
fielding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dis         656 non-null    object
 1   Ct          656 non-null    object
 2   St          656 non-null    object
 3   Ct Wk       656 non-null    object
 4   Ct Fi       656 non-null    object
 5   Inns        656 non-null    object
 6   Opposition  656 non-null    object
 7   Ground      656 non-null    object
 8   Start Date  656 non-null    object
 9   match_id    656 non-null    object
dtypes: object(10)
memory usage: 51.4+ KB

In [142]:
fielding.head()

,Dis,Ct,St,Ct Wk,Ct Fi,Inns,Opposition,Ground,Start Date,match_id
0,0,0,0,0,0,2,ODI v Sri Lanka,Dambulla,18 Aug 2008,ODI # 2742
1,3,3,0,0,3,1,ODI v Sri Lanka,Dambulla,20 Aug 2008,ODI # 2745
2,0,0,0,0,0,2,ODI v Sri Lanka,Colombo (RPS),24 Aug 2008,ODI # 2750
3,0,0,0,0,0,2,ODI v Sri Lanka,Colombo (RPS),27 Aug 2008,ODI # 2755
4,0,0,0,0,0,1,ODI v Sri Lanka,Colombo (RPS),29 Aug 2008,ODI # 2756

We need to follow a different approach here: 

1. First, we will check for inappropriate values in the dataset, one by one.
2. Then, we will drop the 'St' and 'Ct Wk' column, since it is only relevant to a cricketer who is a keeper. 
3. Same formatting principles for Opposition, Ground, Start Date and Match ID. 

Let us begin.

In [143]:
fielding['Dis'].describe()

count     656
unique      5
top         0
freq      392
Name: Dis, dtype: object

In [144]:
fielding['Dis'].unique()

array(['0', '3', '1', '2', 'TDNF'], dtype=object)

We can see that the incorrect entry is 'TDNF', i.e. Team Did Not Field. Let us correct this.

In [146]:
fielding['Dis']= fielding['Dis'].replace("TDNF", np.nan).astype(float)

fielding['Dis'].unique()

array([ 0.,  3.,  1.,  2., nan])

In [147]:
fielding['Ct'].describe()

count     656
unique      5
top         0
freq      392
Name: Ct, dtype: object

In [148]:
fielding['Ct'].unique()

array(['0', '3', '1', '2', '-'], dtype=object)

In [149]:
fielding['Ct'] = fielding['Ct'].replace('-',np.nan).astype(float)
fielding['Ct'].unique()

array([ 0.,  3.,  1.,  2., nan])

In [150]:
fielding['St'].describe()

count     656
unique      2
top         0
freq      652
Name: St, dtype: object

In [151]:
fielding['St'].unique()

array(['0', '-'], dtype=object)

In [152]:
fielding['St'] = fielding['St'].replace('-',np.nan).astype(float)
fielding['St'].unique()

array([ 0., nan])

In [153]:
fielding['Ct Wk'].describe()

count     656
unique      2
top         0
freq      652
Name: Ct Wk, dtype: object

In [154]:
fielding['Ct Wk'].unique()

array(['0', '-'], dtype=object)

In [155]:
fielding['Ct Wk'] = fielding['Ct Wk'].replace('-',np.nan).astype(float)
fielding['Ct Wk'].unique()

array([ 0., nan])

In [156]:
fielding['Ct Fi'].describe()

count     656
unique      5
top         0
freq      392
Name: Ct Fi, dtype: object

In [157]:
fielding['Ct Fi'].unique()

array(['0', '3', '1', '2', '-'], dtype=object)

In [158]:
fielding['Ct Fi'] = fielding['Ct Fi'].replace('-',np.nan).astype(float)
fielding['Ct Fi'].unique()

array([ 0.,  3.,  1.,  2., nan])

We can notice something logical - since the player will only participate as a fielder, this column should be equivalent to the 'Ct' column. Let us check for this.

In [164]:
fielding[fielding['Ct']!=fielding['Ct Fi']]

,Dis,Ct,St,Ct Wk,Ct Fi,Inns,Opposition,Ground,Start Date,match_id
237,NaN,NaN,NaN,NaN,NaN,-,ODI v Australia,Sydney,26 Jan 2015,ODI # 3592
339,NaN,NaN,NaN,NaN,NaN,-,ODI v West Indies,Port of Spain,23 Jun 2017,ODI # 3895
477,NaN,NaN,NaN,NaN,NaN,-,T20I v Sri Lanka,Guwahati,5 Jan 2020,T20I # 1025
603,NaN,NaN,NaN,NaN,NaN,-,ODI v Pakistan,Pallekele,2 Sep 2023,ODI # 4630

Clearly, they are equal. Hence, we will be dropping this column as well.

In [ ]:
bowling['Pos'].describe()

count     656
unique      7
top         -
freq      582
Name: Pos, dtype: object

In [ ]:
bowling['Pos'].unique()

array(['-', '4', '3', '6', '5', '7', '8'], dtype=object)

In [ ]:
bowling['Pos'] = bowling['Pos'].replace('-',np.nan).astype(float)
bowling['Pos'].unique()

array([nan,  4.,  3.,  6.,  5.,  7.,  8.])

In [166]:
fielding['Inns'].describe()

count     656
unique      5
top         1
freq      274
Name: Inns, dtype: object

In [167]:
fielding['Inns'].unique()

array(['2', '1', '4', '3', '-'], dtype=object)

In [168]:
fielding['Inns'] = fielding['Inns'].replace('-',np.nan).astype(float)
fielding['Inns'].unique()

array([ 2.,  1.,  4.,  3., nan])

In [169]:
fielding['Opposition'].describe()

count                  656
unique                  38
top       Test v Australia
freq                    58
Name: Opposition, dtype: object

In [170]:
fielding['Opposition'].unique()

array(['ODI v Sri Lanka', 'ODI v Pakistan', 'ODI v Australia',
       'ODI v West Indies', 'ODI v Bangladesh', 'ODI v South Africa',
       'ODI v Zimbabwe', 'T20I v Zimbabwe', 'ODI v New Zealand',
       'T20I v South Africa', 'ODI v England', 'ODI v Ireland',
       'ODI v Netherlands', 'T20I v West Indies', 'Test v West Indies',
       'T20I v England', 'Test v Australia', 'T20I v Australia',
       'T20I v Sri Lanka', 'Test v New Zealand', 'T20I v New Zealand',
       'T20I v Afghanistan', 'T20I v Pakistan', 'Test v England',
       'Test v South Africa', 'ODI v Afghanistan', 'T20I v Bangladesh',
       'ODI v U.A.E.', 'Test v Bangladesh', 'Test v Sri Lanka',
       'T20I v U.A.E.', 'T20I v Ireland', 'T20I v Scotland',
       'T20I v Namibia', 'T20I v Hong Kong', 'T20I v Netherlands',
       'ODI v Nepal', 'T20I v U.S.A.'], dtype=object)

In [171]:
fielding['Format'] = fielding['Opposition'].str.extract(r'(^.*?)\sv\s')
fielding['Opposition'] = fielding['Opposition'].str.extract(r'\sv\s(.*?$)')

fielding[['Opposition','Format']]

    Opposition Format
0    Sri Lanka    ODI
1    Sri Lanka    ODI
2    Sri Lanka    ODI
3    Sri Lanka    ODI
4    Sri Lanka    ODI
..         ...    ...
651  Australia   Test
652  Australia   Test
653  Australia   Test
654  Australia   Test
655  Australia   Test

[656 rows x 2 columns]

In [172]:
fielding['Ground'].describe()

count        656
unique        80
top       Mirpur
freq          29
Name: Ground, dtype: object

In [173]:
fielding['Ground'].unique()

array(['Dambulla', 'Colombo (RPS)', 'Centurion', 'Johannesburg',
       'Vadodara', 'Mohali', 'Rajkot', 'Nagpur', 'Eden Gardens', 'Delhi',
       'Mirpur', 'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Wankhede', 'Port of Spain',
       'North Sound', 'Kingston', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'The Oval', "Lord's",
       'Cardiff', 'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney',
       'W.A.C.A', 'Adelaide', 'Brisbane', 'Hobart', 'Hambantota',
       'Pallekele', 'Pune', 'Kochi', 'Ranchi', 'Dharamsala', 'Birmingham',
       'Kanpur', 'Napier', 'Hamilton', 'Auckland', 'Wellington',
       'Fatullah', 'Nottingham', 'Leeds', 'Galle', 'Colombo (PSS)',
       'Colombo (SSC)', 'Canberra', 'Gros Islet', 'Lauderhill',
       'Thiruvananthapuram', 'Dublin (Malahide)', 'Bristol', 'Brabourne',
       'Perth', 'Mount Maunganui', 'Providence', 'Christchurch',
       'Dubai (DICS)', 'Abu Dhabi', 'Paarl', 'Chattogram', 'Raipur',
       'Lucknow', 'New York'], dtype=object)

In [174]:
# Define the mapping dictionary
ground_mapping = {
    "Colombo (SSC)": "Colombo",
    "Colombo (PSS)": "Colombo",
    "Colombo (RPS)": "Colombo",
    "Eden Gardens": "Kolkata",
    "Wankhede": "Mumbai",
    "Brabourne": "Mumbai",
    "Kingston": "Kingston Jamaica",
    "The Oval": "London",
    "Lord's": "London",
    "W.A.C.A": "Perth",
    "Dharamsala": "Dharamshala",
    "Hamilton": "Hamilton Waikato",
    "Fatullah": "Fatullah Dhaka",
    "Providence": "Providence Guyana",
    "Dubai (DICS)": "Dubai",
    "Chattogram": "Chattogram Chittagong"
}

fielding['Ground'].replace(ground_mapping).unique()

array(['Dambulla', 'Colombo', 'Centurion', 'Johannesburg', 'Vadodara',
       'Mohali', 'Rajkot', 'Nagpur', 'Kolkata', 'Delhi', 'Mirpur',
       'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Mumbai', 'Port of Spain', 'North Sound',
       'Kingston Jamaica', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'London', 'Cardiff',
       'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney', 'Perth',
       'Adelaide', 'Brisbane', 'Hobart', 'Hambantota', 'Pallekele',
       'Pune', 'Kochi', 'Ranchi', 'Dharamshala', 'Birmingham', 'Kanpur',
       'Napier', 'Hamilton Waikato', 'Auckland', 'Wellington',
       'Fatullah Dhaka', 'Nottingham', 'Leeds', 'Galle', 'Canberra',
       'Gros Islet', 'Lauderhill', 'Thiruvananthapuram',
       'Dublin (Malahide)', 'Bristol', 'Mount Maunganui',
       'Providence Guyana', 'Christchurch', 'Dubai', 'Abu Dhabi', 'Paarl',
       'Chattogram Chittagong', 'Raipur', 'Lucknow', 'New York'],
      dtype=object)

In [175]:
fielding['Ground']= fielding['Ground'].replace(ground_mapping)
fielding = fielding.rename(columns={'Ground':'Location'})

fielding['Location'].unique()

array(['Dambulla', 'Colombo', 'Centurion', 'Johannesburg', 'Vadodara',
       'Mohali', 'Rajkot', 'Nagpur', 'Kolkata', 'Delhi', 'Mirpur',
       'Jaipur', 'Gwalior', 'Ahmedabad', 'Bulawayo', 'Harare',
       'Visakhapatnam', 'Guwahati', 'Bengaluru', 'Chennai', 'Durban',
       'Cape Town', 'Gqeberha', 'Mumbai', 'Port of Spain', 'North Sound',
       'Kingston Jamaica', 'Bridgetown', 'Roseau', 'Manchester',
       'Chester-le-Street', 'Southampton', 'London', 'Cardiff',
       'Hyderabad', 'Cuttack', 'Indore', 'Melbourne', 'Sydney', 'Perth',
       'Adelaide', 'Brisbane', 'Hobart', 'Hambantota', 'Pallekele',
       'Pune', 'Kochi', 'Ranchi', 'Dharamshala', 'Birmingham', 'Kanpur',
       'Napier', 'Hamilton Waikato', 'Auckland', 'Wellington',
       'Fatullah Dhaka', 'Nottingham', 'Leeds', 'Galle', 'Canberra',
       'Gros Islet', 'Lauderhill', 'Thiruvananthapuram',
       'Dublin (Malahide)', 'Bristol', 'Mount Maunganui',
       'Providence Guyana', 'Christchurch', 'Dubai', 'Abu Dhabi', 'Paarl',
       'Chattogram Chittagong', 'Raipur', 'Lucknow', 'New York'],
      dtype=object)

In [ ]:
fielding['Start Date'].describe()

count             656
unique            543
top       14 Mar 2013
freq                2
Name: Start Date, dtype: object

In [176]:
fielding['Start Date'].unique()

array(['18 Aug 2008', '20 Aug 2008', '24 Aug 2008', '27 Aug 2008',
       '29 Aug 2008', '14 Sep 2009', '26 Sep 2009', '28 Sep 2009',
       '30 Sep 2009', '25 Oct 2009', '2 Nov 2009', '15 Dec 2009',
       '18 Dec 2009', '24 Dec 2009', '27 Dec 2009', '5 Jan 2010',
       '7 Jan 2010', '10 Jan 2010', '11 Jan 2010', '13 Jan 2010',
       '21 Feb 2010', '24 Feb 2010', '27 Feb 2010', '28 May 2010',
       '30 May 2010', '3 Jun 2010', '5 Jun 2010', '12 Jun 2010',
       '13 Jun 2010', '16 Jun 2010', '19 Jun 2010', '22 Jun 2010',
       '24 Jun 2010', '16 Aug 2010', '25 Aug 2010', '28 Aug 2010',
       '20 Oct 2010', '28 Nov 2010', '1 Dec 2010', '4 Dec 2010',
       '7 Dec 2010', '10 Dec 2010', '9 Jan 2011', '12 Jan 2011',
       '15 Jan 2011', '18 Jan 2011', '21 Jan 2011', '23 Jan 2011',
       '19 Feb 2011', '27 Feb 2011', '6 Mar 2011', '9 Mar 2011',
       '12 Mar 2011', '20 Mar 2011', '24 Mar 2011', '30 Mar 2011',
       '2 Apr 2011', '4 Jun 2011', '6 Jun 2011', '8 Jun 2011',
       '11 Jun 2011', '13 Jun 2011', '16 Jun 2011', '20 Jun 2011',
       '28 Jun 2011', '6 Jul 2011', '31 Aug 2011', '3 Sep 2011',
       '6 Sep 2011', '9 Sep 2011', '11 Sep 2011', '16 Sep 2011',
       '14 Oct 2011', '17 Oct 2011', '20 Oct 2011', '23 Oct 2011',
       '25 Oct 2011', '29 Oct 2011', '22 Nov 2011', '29 Nov 2011',
       '2 Dec 2011', '5 Dec 2011', '8 Dec 2011', '11 Dec 2011',
       '26 Dec 2011', '3 Jan 2012', '13 Jan 2012', '24 Jan 2012',
       '1 Feb 2012', '3 Feb 2012', '5 Feb 2012', '8 Feb 2012',
       '12 Feb 2012', '14 Feb 2012', '19 Feb 2012', '21 Feb 2012',
       '26 Feb 2012', '28 Feb 2012', '13 Mar 2012', '16 Mar 2012',
       '18 Mar 2012', '30 Mar 2012', '21 Jul 2012', '24 Jul 2012',
       '28 Jul 2012', '31 Jul 2012', '4 Aug 2012', '7 Aug 2012',
       '23 Aug 2012', '31 Aug 2012', '11 Sep 2012', '19 Sep 2012',
       '23 Sep 2012', '28 Sep 2012', '30 Sep 2012', '2 Oct 2012',
       '15 Nov 2012', '23 Nov 2012', '5 Dec 2012', '13 Dec 2012',
       '20 Dec 2012', '22 Dec 2012', '25 Dec 2012', '28 Dec 2012',
       '30 Dec 2012', '3 Jan 2013', '6 Jan 2013', '11 Jan 2013',
       '15 Jan 2013', '19 Jan 2013', '23 Jan 2013', '27 Jan 2013',
       '22 Feb 2013', '2 Mar 2013', '14 Mar 2013', '22 Mar 2013',
       '6 Jun 2013', '11 Jun 2013', '15 Jun 2013', '20 Jun 2013',
       '23 Jun 2013', '30 Jun 2013', '2 Jul 2013', '5 Jul 2013',
       '9 Jul 2013', '11 Jul 2013', '24 Jul 2013', '26 Jul 2013',
       '28 Jul 2013', '1 Aug 2013', '3 Aug 2013', '10 Oct 2013',
       '13 Oct 2013', '16 Oct 2013', '19 Oct 2013', '23 Oct 2013',
       '30 Oct 2013', '2 Nov 2013', '6 Nov 2013', '14 Nov 2013',
       '21 Nov 2013', '24 Nov 2013', '27 Nov 2013', '5 Dec 2013',
       '8 Dec 2013', '11 Dec 2013', '18 Dec 2013', '26 Dec 2013',
       '19 Jan 2014', '22 Jan 2014', '25 Jan 2014', '28 Jan 2014',
       '31 Jan 2014', '6 Feb 2014', '14 Feb 2014', '26 Feb 2014',
       '28 Feb 2014', '2 Mar 2014', '5 Mar 2014', '21 Mar 2014',
       '23 Mar 2014', '28 Mar 2014', '30 Mar 2014', '4 Apr 2014',
       '6 Apr 2014', '9 Jul 2014', '17 Jul 2014', '27 Jul 2014',
       '7 Aug 2014', '15 Aug 2014', '27 Aug 2014', '30 Aug 2014',
       '2 Sep 2014', '5 Sep 2014', '7 Sep 2014', '8 Oct 2014',
       '11 Oct 2014', '17 Oct 2014', '2 Nov 2014', '6 Nov 2014',
       '9 Nov 2014', '13 Nov 2014', '16 Nov 2014', '9 Dec 2014',
       '17 Dec 2014', '26 Dec 2014', '6 Jan 2015', '18 Jan 2015',
       '20 Jan 2015', '26 Jan 2015', '30 Jan 2015', '15 Feb 2015',
       '22 Feb 2015', '28 Feb 2015', '6 Mar 2015', '10 Mar 2015',
       '14 Mar 2015', '19 Mar 2015', '26 Mar 2015', '10 Jun 2015',
       '18 Jun 2015', '21 Jun 2015', '24 Jun 2015', '12 Aug 2015',
       '20 Aug 2015', '28 Aug 2015', '2 Oct 2015', '5 Oct 2015',
       '11 Oct 2015', '14 Oct 2015', '18 Oct 2015', '22 Oct 2015',
       '25 Oct 2015', '5 Nov 2015', '14 Nov 2015', '25 Nov 2015',
       '3 Dec 2015', '12 Jan 2016', '15 Jan 2016', '17 Jan 2016',
       '20 Jan 2016', '23 Jan 2016', '26 Jan 2016', '29 Jan 2016',
       '31 Jan 2016', '24 Feb 2016', '27 Feb 2016', '1 Mar 2016',
       '3 Mar 2016', '6 Mar 2016', '15 Mar 2016', '19 Mar 2016',
       '23 Mar 2016', '27 Mar 2016', '31 Mar 2016', '21 Jul 2016',
       '30 Jul 2016', '9 Aug 2016', '18 Aug 2016', '27 Aug 2016',
       '28 Aug 2016', '22 Sep 2016', '30 Sep 2016', '8 Oct 2016',
       '16 Oct 2016', '20 Oct 2016', '23 Oct 2016', '26 Oct 2016',
       '29 Oct 2016', '9 Nov 2016', '17 Nov 2016', '26 Nov 2016',
       '8 Dec 2016', '16 Dec 2016', '15 Jan 2017', '19 Jan 2017',
       '22 Jan 2017', '26 Jan 2017', '29 Jan 2017', '1 Feb 2017',
       '9 Feb 2017', '23 Feb 2017', '4 Mar 2017', '16 Mar 2017',
       '4 Jun 2017', '8 Jun 2017', '11 Jun 2017', '15 Jun 2017',
       '18 Jun 2017', '23 Jun 2017', '25 Jun 2017', '30 Jun 2017',
       '2 Jul 2017', '6 Jul 2017', '9 Jul 2017', '26 Jul 2017',
       '3 Aug 2017', '12 Aug 2017', '20 Aug 2017', '24 Aug 2017',
       '27 Aug 2017', '31 Aug 2017', '3 Sep 2017', '6 Sep 2017',
       '17 Sep 2017', '21 Sep 2017', '24 Sep 2017', '28 Sep 2017',
       '1 Oct 2017', '7 Oct 2017', '10 Oct 2017', '22 Oct 2017',
       '25 Oct 2017', '29 Oct 2017', '1 Nov 2017', '4 Nov 2017',
       '7 Nov 2017', '16 Nov 2017', '24 Nov 2017', '2 Dec 2017',
       '5 Jan 2018', '13 Jan 2018', '24 Jan 2018', '1 Feb 2018',
       '4 Feb 2018', '7 Feb 2018', '10 Feb 2018', '13 Feb 2018',
       '16 Feb 2018', '18 Feb 2018', '21 Feb 2018', '27 Jun 2018',
       '29 Jun 2018', '3 Jul 2018', '6 Jul 2018', '8 Jul 2018',
       '12 Jul 2018', '14 Jul 2018', '17 Jul 2018', '1 Aug 2018',
       '9 Aug 2018', '18 Aug 2018', '30 Aug 2018', '7 Sep 2018',
       '4 Oct 2018', '12 Oct 2018', '21 Oct 2018', '24 Oct 2018',
       '27 Oct 2018', '29 Oct 2018', '1 Nov 2018', '21 Nov 2018',
       '23 Nov 2018', '25 Nov 2018', '6 Dec 2018', '14 Dec 2018',
       '26 Dec 2018', '3 Jan 2019', '12 Jan 2019', '15 Jan 2019',
       '18 Jan 2019', '23 Jan 2019', '26 Jan 2019', '28 Jan 2019',
       '24 Feb 2019', '27 Feb 2019', '2 Mar 2019', '5 Mar 2019',
       '8 Mar 2019', '10 Mar 2019', '13 Mar 2019', '5 Jun 2019',
       '9 Jun 2019', '16 Jun 2019', '22 Jun 2019', '27 Jun 2019',
       '30 Jun 2019', '2 Jul 2019', '6 Jul 2019', '9 Jul 2019',
       '3 Aug 2019', '4 Aug 2019', '6 Aug 2019', '8 Aug 2019',
       '11 Aug 2019', '14 Aug 2019', '22 Aug 2019', '30 Aug 2019',
       '18 Sep 2019', '22 Sep 2019', '2 Oct 2019', '10 Oct 2019',
       '19 Oct 2019', '14 Nov 2019', '22 Nov 2019', '6 Dec 2019',
       '8 Dec 2019', '11 Dec 2019', '15 Dec 2019', '18 Dec 2019',
       '22 Dec 2019', '5 Jan 2020', '7 Jan 2020', '10 Jan 2020',
       '14 Jan 2020', '17 Jan 2020', '19 Jan 2020', '24 Jan 2020',
       '26 Jan 2020', '29 Jan 2020', '31 Jan 2020', '5 Feb 2020',
       '8 Feb 2020', '11 Feb 2020', '21 Feb 2020', '29 Feb 2020',
       '27 Nov 2020', '29 Nov 2020', '2 Dec 2020', '4 Dec 2020',
       '6 Dec 2020', '8 Dec 2020', '17 Dec 2020', '5 Feb 2021',
       '13 Feb 2021', '24 Feb 2021', '4 Mar 2021', '12 Mar 2021',
       '14 Mar 2021', '16 Mar 2021', '18 Mar 2021', '20 Mar 2021',
       '23 Mar 2021', '26 Mar 2021', '28 Mar 2021', '18 Jun 2021',
       '4 Aug 2021', '12 Aug 2021', '25 Aug 2021', '2 Sep 2021',
       '24 Oct 2021', '31 Oct 2021', '3 Nov 2021', '5 Nov 2021',
       '8 Nov 2021', '3 Dec 2021', '26 Dec 2021', '11 Jan 2022',
       '19 Jan 2022', '21 Jan 2022', '23 Jan 2022', '6 Feb 2022',
       '9 Feb 2022', '11 Feb 2022', '16 Feb 2022', '18 Feb 2022',
       '4 Mar 2022', '12 Mar 2022', '1 Jul 2022', '9 Jul 2022',
       '10 Jul 2022', '14 Jul 2022', '17 Jul 2022', '28 Aug 2022',
       '31 Aug 2022', '4 Sep 2022', '6 Sep 2022', '8 Sep 2022',
       '20 Sep 2022', '23 Sep 2022', '25 Sep 2022', '28 Sep 2022',
       '2 Oct 2022', '23 Oct 2022', '27 Oct 2022', '30 Oct 2022',
       '2 Nov 2022', '6 Nov 2022', '10 Nov 2022', '4 Dec 2022',
       '7 Dec 2022', '10 Dec 2022', '14 Dec 2022', '22 Dec 2022',
       '10 Jan 2023', '12 Jan 2023', '15 Jan 2023', '18 Jan 2023',
       '21 Jan 2023', '24 Jan 2023', '9 Feb 2023', '17 Feb 2023',
       '1 Mar 2023', '9 Mar 2023', '17 Mar 2023', '19 Mar 2023',
       '22 Mar 2023', '7 Jun 2023', '12 Jul 2023', '20 Jul 2023',
       '27 Jul 2023', '2 Sep 2023', '4 Sep 2023', '10 Sep 2023',
       '12 Sep 2023', '17 Sep 2023', '27 Sep 2023', '8 Oct 2023',
       '11 Oct 2023', '14 Oct 2023', '19 Oct 2023', '22 Oct 2023',
       '29 Oct 2023', '2 Nov 2023', '5 Nov 2023', '12 Nov 2023',
       '15 Nov 2023', '19 Nov 2023', '26 Dec 2023', '3 Jan 2024',
       '14 Jan 2024', '17 Jan 2024', '5 Jun 2024', '9 Jun 2024',
       '12 Jun 2024', '20 Jun 2024', '22 Jun 2024', '24 Jun 2024',
       '27 Jun 2024', '29 Jun 2024', '2 Aug 2024', '4 Aug 2024',
       '7 Aug 2024', '19 Sep 2024', '27 Sep 2024', '16 Oct 2024',
       '24 Oct 2024', '1 Nov 2024', '22 Nov 2024', '6 Dec 2024',
       '14 Dec 2024', '26 Dec 2024', '3 Jan 2025'], dtype=object)

In [177]:
fielding['Start Date'] = fielding['Start Date'].astype('datetime64[ns]')
fielding['Start Date']

0     2008-08-18
1     2008-08-20
2     2008-08-24
3     2008-08-27
4     2008-08-29
         ...
651   2024-12-14
652   2024-12-26
653   2024-12-26
654   2025-01-03
655   2025-01-03
Name: Start Date, Length: 656, dtype: datetime64[ns]

In [178]:
fielding['match_id'].describe()

count             656
unique            543
top       Test # 2081
freq                2
Name: match_id, dtype: object

In [179]:
fielding['match_id'].unique()

array(['ODI # 2742', 'ODI # 2745', 'ODI # 2750', 'ODI # 2755',
       'ODI # 2756', 'ODI # 2889', 'ODI # 2898', 'ODI # 2901',
       'ODI # 2904', 'ODI # 2913', 'ODI # 2919', 'ODI # 2932',
       'ODI # 2933', 'ODI # 2935', 'ODI # 2936', 'ODI # 2938',
       'ODI # 2939', 'ODI # 2941', 'ODI # 2942', 'ODI # 2943',
       'ODI # 2961', 'ODI # 2962', 'ODI # 2963', 'ODI # 2981',
       'ODI # 2983', 'ODI # 2986', 'ODI # 2988', 'T20I # 182',
       'T20I # 183', 'ODI # 2993', 'ODI # 2996', 'ODI # 2999',
       'ODI # 3001', 'ODI # 3032', 'ODI # 3039', 'ODI # 3040',
       'ODI # 3060', 'ODI # 3070', 'ODI # 3072', 'ODI # 3074',
       'ODI # 3076', 'ODI # 3077', 'T20I # 196', 'ODI # 3079',
       'ODI # 3080', 'ODI # 3082', 'ODI # 3084', 'ODI # 3087',
       'ODI # 3100', 'ODI # 3110', 'ODI # 3121', 'ODI # 3124',
       'ODI # 3128', 'ODI # 3141', 'ODI # 3143', 'ODI # 3147',
       'ODI # 3148', 'T20I # 200', 'ODI # 3159', 'ODI # 3160',
       'ODI # 3161', 'ODI # 3162', 'ODI # 3163', 'Test # 1997',
       'Test # 1998', 'Test # 1999', 'T20I # 204', 'ODI # 3186',
       'ODI # 3187', 'ODI # 3189', 'ODI # 3191', 'ODI # 3195',
       'ODI # 3199', 'ODI # 3201', 'ODI # 3205', 'ODI # 3207',
       'ODI # 3210', 'T20I # 214', 'Test # 2019', 'ODI # 3217',
       'ODI # 3219', 'ODI # 3221', 'ODI # 3223', 'ODI # 3224',
       'Test # 2025', 'Test # 2027', 'Test # 2029', 'Test # 2031',
       'T20I # 217', 'T20I # 218', 'ODI # 3231', 'ODI # 3233',
       'ODI # 3237', 'ODI # 3239', 'ODI # 3244', 'ODI # 3246',
       'ODI # 3250', 'ODI # 3251', 'ODI # 3259', 'ODI # 3261',
       'ODI # 3263', 'T20I # 242', 'ODI # 3291', 'ODI # 3292',
       'ODI # 3293', 'ODI # 3294', 'ODI # 3295', 'T20I # 255',
       'Test # 2054', 'Test # 2055', 'T20I # 261', 'T20I # 265',
       'T20I # 272', 'T20I # 278', 'T20I # 282', 'T20I # 286',
       'Test # 2058', 'Test # 2062', 'Test # 2065', 'Test # 2066',
       'T20I # 292', 'T20I # 294', 'T20I # 296', 'T20I # 298',
       'ODI # 3314', 'ODI # 3315', 'ODI # 3316', 'ODI # 3318',
       'ODI # 3320', 'ODI # 3322', 'ODI # 3327', 'ODI # 3329',
       'Test # 2074', 'Test # 2076', 'Test # 2081', 'Test # 2085',
       'ODI # 3363', 'ODI # 3368', 'ODI # 3372', 'ODI # 3376',
       'ODI # 3377', 'ODI # 3380', 'ODI # 3382', 'ODI # 3383',
       'ODI # 3387', 'ODI # 3388', 'ODI # 3395', 'ODI # 3397',
       'ODI # 3399', 'ODI # 3402', 'ODI # 3403', 'T20I # 331',
       'ODI # 3419', 'ODI # 3420', 'ODI # 3421', 'ODI # 3422',
       'ODI # 3424', 'ODI # 3428', 'Test # 2101', 'Test # 2102',
       'ODI # 3436', 'ODI # 3437', 'ODI # 3439', 'ODI # 3442',
       'ODI # 3443', 'ODI # 3444', 'Test # 2108', 'Test # 2111',
       'ODI # 3456', 'ODI # 3458', 'ODI # 3462', 'ODI # 3465',
       'ODI # 3467', 'Test # 2118', 'Test # 2120', 'ODI # 3474',
       'ODI # 3476', 'ODI # 3479', 'ODI # 3483', 'T20I # 378',
       'T20I # 382', 'T20I # 389', 'T20I # 393', 'T20I # 399',
       'T20I # 400', 'Test # 2128', 'Test # 2130', 'Test # 2132',
       'Test # 2134', 'Test # 2137', 'ODI # 3517', 'ODI # 3520',
       'ODI # 3523', 'ODI # 3525', 'T20I # 405', 'ODI # 3531',
       'ODI # 3533', 'ODI # 3535', 'ODI # 3539', 'ODI # 3540',
       'ODI # 3543', 'ODI # 3544', 'ODI # 3547', 'Test # 2148',
       'Test # 2149', 'Test # 2152', 'Test # 2156', 'ODI # 3582',
       'ODI # 3586', 'ODI # 3592', 'ODI # 3595', 'ODI # 3602',
       'ODI # 3610', 'ODI # 3618', 'ODI # 3625', 'ODI # 3631',
       'ODI # 3636', 'ODI # 3641', 'ODI # 3645', 'Test # 2165',
       'ODI # 3658', 'ODI # 3660', 'ODI # 3661', 'Test # 2176',
       'Test # 2177', 'Test # 2179', 'T20I # 456', 'T20I # 457',
       'ODI # 3689', 'ODI # 3692', 'ODI # 3695', 'ODI # 3698',
       'ODI # 3700', 'Test # 2186', 'Test # 2188', 'Test # 2189',
       'Test # 2191', 'ODI # 3723', 'ODI # 3724', 'ODI # 3725',
       'ODI # 3726', 'ODI # 3727', 'T20I # 485', 'T20I # 486',
       'T20I # 489', 'T20I # 509', 'T20I # 512', 'T20I # 515',
       'T20I # 517', 'T20I # 521', 'T20I # 535', 'T20I # 541',
       'T20I # 547', 'T20I # 553', 'T20I # 556', 'Test # 2207',
       'Test # 2211', 'Test # 2215', 'Test # 2218', 'T20I # 562',
       'T20I # 563', 'Test # 2221', 'Test # 2222', 'Test # 2223',
       'ODI # 3796', 'ODI # 3797', 'ODI # 3798', 'ODI # 3799',
       'ODI # 3800', 'Test # 2232', 'Test # 2235', 'Test # 2238',
       'Test # 2239', 'Test # 2241', 'ODI # 3819', 'ODI # 3821',
       'ODI # 3824', 'T20I # 592', 'T20I # 593', 'T20I # 594',
       'Test # 2249', 'Test # 2250', 'Test # 2251', 'Test # 2256',
       'ODI # 3878', 'ODI # 3882', 'ODI # 3886', 'ODI # 3891',
       'ODI # 3894', 'ODI # 3895', 'ODI # 3896', 'ODI # 3898',
       'ODI # 3900', 'ODI # 3902', 'T20I # 617', 'Test # 2265',
       'Test # 2267', 'Test # 2269', 'ODI # 3905', 'ODI # 3906',
       'ODI # 3907', 'ODI # 3908', 'ODI # 3909', 'T20I # 618',
       'ODI # 3910', 'ODI # 3912', 'ODI # 3914', 'ODI # 3917',
       'ODI # 3919', 'T20I # 623', 'T20I # 624', 'ODI # 3928',
       'ODI # 3931', 'ODI # 3932', 'T20I # 630', 'T20I # 631',
       'T20I # 632', 'Test # 2281', 'Test # 2283', 'Test # 2286',
       'Test # 2292', 'Test # 2293', 'Test # 2294', 'ODI # 3969',
       'ODI # 3970', 'ODI # 3971', 'ODI # 3973', 'ODI # 3976',
       'ODI # 3978', 'T20I # 652', 'T20I # 654', 'T20I # 678',
       'T20I # 680', 'T20I # 684', 'T20I # 688', 'T20I # 690',
       'ODI # 4014', 'ODI # 4016', 'ODI # 4018', 'Test # 2314',
       'Test # 2315', 'Test # 2316', 'Test # 2317', 'Test # 2318',
       'Test # 2319', 'Test # 2321', 'ODI # 4056', 'ODI # 4059',
       'ODI # 4062', 'ODI # 4063', 'ODI # 4064', 'T20I # 712',
       'T20I # 713', 'T20I # 714', 'Test # 2333', 'Test # 2334',
       'Test # 2337', 'Test # 2339', 'ODI # 4077', 'ODI # 4078',
       'ODI # 4079', 'ODI # 4082', 'ODI # 4085', 'ODI # 4088',
       'T20I # 748', 'T20I # 749', 'ODI # 4102', 'ODI # 4106',
       'ODI # 4109', 'ODI # 4111', 'ODI # 4113', 'ODI # 4150',
       'ODI # 4155', 'ODI # 4161', 'ODI # 4169', 'ODI # 4175',
       'ODI # 4179', 'ODI # 4182', 'ODI # 4187', 'ODI # 4190',
       'T20I # 842', 'T20I # 843', 'T20I # 846', 'ODI # 4196',
       'ODI # 4197', 'ODI # 4199', 'Test # 2358', 'Test # 2359',
       'T20I # 888', 'T20I # 893', 'Test # 2363', 'Test # 2364',
       'Test # 2365', 'Test # 2366', 'Test # 2369', 'T20I # 1020',
       'T20I # 1022', 'T20I # 1024', 'ODI # 4221', 'ODI # 4222',
       'ODI # 4223', 'T20I # 1025', 'T20I # 1026', 'T20I # 1027',
       'ODI # 4231', 'ODI # 4232', 'ODI # 4233', 'T20I # 1031',
       'T20I # 1034', 'T20I # 1035', 'T20I # 1036', 'ODI # 4235',
       'ODI # 4239', 'ODI # 4243', 'Test # 2385', 'Test # 2387',
       'ODI # 4265', 'ODI # 4266', 'ODI # 4267', 'T20I # 1114',
       'T20I # 1115', 'T20I # 1116', 'Test # 2396', 'Test # 2409',
       'Test # 2411', 'Test # 2412', 'Test # 2414', 'T20I # 1131',
       'T20I # 1132', 'T20I # 1133', 'T20I # 1135', 'T20I # 1138',
       'ODI # 4281', 'ODI # 4283', 'ODI # 4284', 'Test # 2425',
       'Test # 2428', 'Test # 2429', 'Test # 2432', 'Test # 2433',
       'T20I # 1361', 'T20I # 1381', 'T20I # 1390', 'T20I # 1396',
       'T20I # 1410', 'Test # 2438', 'Test # 2443', 'Test # 2448',
       'ODI # 4344', 'ODI # 4346', 'ODI # 4349', 'ODI # 4353',
       'ODI # 4355', 'ODI # 4356', 'T20I # 1467', 'T20I # 1473',
       'Test # 2452', 'Test # 2456', 'Test # 2470', 'T20I # 1628',
       'T20I # 1631', 'ODI # 4428', 'ODI # 4433', 'T20I # 1750',
       'T20I # 1754', 'T20I # 1758', 'T20I # 1759', 'T20I # 1761',
       'T20I # 1788', 'T20I # 1794', 'T20I # 1796', 'T20I # 1800',
       'T20I # 1803', 'T20I # 1842', 'T20I # 1848', 'T20I # 1853',
       'T20I # 1860', 'T20I # 1873', 'T20I # 1878', 'ODI # 4493',
       'ODI # 4496', 'ODI # 4499', 'Test # 2481', 'Test # 2484',
       'ODI # 4501', 'ODI # 4503', 'ODI # 4505', 'ODI # 4507',
       'ODI # 4509', 'ODI # 4511', 'Test # 2490', 'Test # 2493',
       'Test # 2496', 'Test # 2499', 'ODI # 4538', 'ODI # 4541',
       'ODI # 4545', 'Test # 2505', 'Test # 2510', 'Test # 2513',
       'ODI # 4622', 'ODI # 4630', 'ODI # 4632', 'ODI # 4639',
       'ODI # 4641', 'ODI # 4649', 'ODI # 4657', 'ODI # 4662',
       'ODI # 4666', 'ODI # 4669', 'ODI # 4674', 'ODI # 4678',
       'ODI # 4686', 'ODI # 4690', 'ODI # 4694', 'ODI # 4702',
       'ODI # 4703', 'ODI # 4705', 'Test # 2520', 'Test # 2522',
       'T20I # 2431', 'T20I # 2435', 'T20I # 2639', 'T20I # 2658',
       'T20I # 2671', 'T20I # 2710', 'T20I # 2716', 'T20I # 2721',
       'T20I # 2724', 'T20I # 2729', 'ODI # 4752', 'ODI # 4753',
       'ODI # 4754', 'Test # 2550', 'Test # 2552', 'Test # 2555',
       'Test # 2557', 'Test # 2560', 'Test # 2561', 'Test # 2568',
       'Test # 2570', 'Test # 2571', 'Test # 2575'], dtype=object)

In [180]:
#extracting the match id by keeping the hashtag and numbers
fielding['match_id']='#' + fielding['match_id'].str.extract(r'(\d+$)')
fielding = fielding.rename(columns={'match_id':'Match ID'})

fielding['Match ID']

0      #2742
1      #2745
2      #2750
3      #2755
4      #2756
       ...
651    #2570
652    #2571
653    #2571
654    #2575
655    #2575
Name: Match ID, Length: 656, dtype: object

Now, we will drop the following columns - 'St','Ct Wk','Ct Fi' from our dataset, and re-order the columns.

In [182]:
fielding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dis         652 non-null    float64
 1   Ct          652 non-null    float64
 2   St          652 non-null    float64
 3   Ct Wk       652 non-null    float64
 4   Ct Fi       652 non-null    float64
 5   Inns        652 non-null    float64
 6   Opposition  656 non-null    object
 7   Location    656 non-null    object
 8   Start Date  656 non-null    datetime64[ns]
 9   Match ID    656 non-null    object
 10  Format      656 non-null    object
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 56.5+ KB

In [184]:
fielding = fielding[['Match ID','Start Date','Format','Inns',
                     'Dis','Ct','Opposition','Location']]

fielding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Match ID    656 non-null    object
 1   Start Date  656 non-null    datetime64[ns]
 2   Format      656 non-null    object
 3   Inns        652 non-null    float64
 4   Dis         652 non-null    float64
 5   Ct          652 non-null    float64
 6   Opposition  656 non-null    object
 7   Location    656 non-null    object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 41.1+ KB

In [185]:
fielding.head(10)

  Match ID Start Date Format  Inns  Dis   Ct   Opposition      Location
0    #2742 2008-08-18    ODI   2.0  0.0  0.0    Sri Lanka      Dambulla
1    #2745 2008-08-20    ODI   1.0  3.0  3.0    Sri Lanka      Dambulla
2    #2750 2008-08-24    ODI   2.0  0.0  0.0    Sri Lanka       Colombo
3    #2755 2008-08-27    ODI   2.0  0.0  0.0    Sri Lanka       Colombo
4    #2756 2008-08-29    ODI   1.0  0.0  0.0    Sri Lanka       Colombo
5    #2889 2009-09-14    ODI   2.0  0.0  0.0    Sri Lanka       Colombo
6    #2898 2009-09-26    ODI   1.0  1.0  1.0     Pakistan     Centurion
7    #2901 2009-09-28    ODI   1.0  0.0  0.0    Australia     Centurion
8    #2904 2009-09-30    ODI   1.0  0.0  0.0  West Indies  Johannesburg
9    #2913 2009-10-25    ODI   1.0  1.0  1.0    Australia      Vadodara

Our fielding Dataset is ready.

In [187]:
allround = pd.read_csv('../data/player_allround_stats.csv')

In [188]:
allround.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294 entries, 0 to 1293
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Inns        1294 non-null   int64
 1   Score       1294 non-null   object
 2   Overs       1294 non-null   object
 3   Conc        1294 non-null   object
 4   Wkts        1294 non-null   object
 5   Ct          1294 non-null   object
 6   St          1294 non-null   object
 7   Opposition  1294 non-null   object
 8   Ground      1294 non-null   object
 9   Start Date  1294 non-null   object
 10  match_id    1294 non-null   object
dtypes: int64(1), object(10)
memory usage: 111.3+ KB

In [189]:
allround.head()

,Inns,Score,Overs,Conc,Wkts,Ct,St,Opposition,Ground,Start Date,match_id
0,1,12,-,-,-,-,-,ODI v Sri Lanka,Dambulla,18 Aug 2008,ODI # 2742
1,2,-,DNB,-,-,0,0,ODI v Sri Lanka,Dambulla,18 Aug 2008,ODI # 2742
2,1,-,DNB,-,-,3,0,ODI v Sri Lanka,Dambulla,20 Aug 2008,ODI # 2745
3,2,37,-,-,-,-,-,ODI v Sri Lanka,Dambulla,20 Aug 2008,ODI # 2745
4,1,25,-,-,-,-,-,ODI v Sri Lanka,Colombo (RPS),24 Aug 2008,ODI # 2750

We can clearly see that the information available here can be obtained by simply combining the previous 3 datasets on the common columns. 

Hence, there is no need to examine this Dataset directly. We will simply do this when we come to our analysis by creating a Data Model.

In [224]:
display(
    batting.head(),
    bowling.head(),
    fielding.head())

  Match ID Start Date Format  Inns  Pos  Runs    BF   4s   6s     SR  Mins  \
0    #2742 2008-08-18    ODI   1.0  2.0  12.0  22.0  1.0  0.0  54.54  33.0
1    #2745 2008-08-20    ODI   2.0  2.0  37.0  67.0  6.0  0.0  55.22  82.0
2    #2750 2008-08-24    ODI   1.0  1.0  25.0  38.0  4.0  0.0  65.78  40.0
3    #2755 2008-08-27    ODI   1.0  1.0  54.0  66.0  7.0  0.0  81.81  87.0
4    #2756 2008-08-29    ODI   2.0  1.0  31.0  46.0  3.0  1.0  67.39  45.0

  Dismissal Opposition  Location
0       lbw  Sri Lanka  Dambulla
1    caught  Sri Lanka  Dambulla
2   run out  Sri Lanka   Colombo
3    bowled  Sri Lanka   Colombo
4       lbw  Sri Lanka   Colombo

,Match ID,Start Date,Format,Inns,Pos,Overs,Mdns,Runs,Wkts,Econ,Opposition,Location
0,#2742,2008-08-18,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Dambulla
1,#2745,2008-08-20,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Dambulla
2,#2750,2008-08-24,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo
3,#2755,2008-08-27,ODI,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo
4,#2756,2008-08-29,ODI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Colombo

  Match ID Start Date Format  Inns  Dis   Ct Opposition  Location
0    #2742 2008-08-18    ODI   2.0  0.0  0.0  Sri Lanka  Dambulla
1    #2745 2008-08-20    ODI   1.0  3.0  3.0  Sri Lanka  Dambulla
2    #2750 2008-08-24    ODI   2.0  0.0  0.0  Sri Lanka   Colombo
3    #2755 2008-08-27    ODI   2.0  0.0  0.0  Sri Lanka   Colombo
4    #2756 2008-08-29    ODI   1.0  0.0  0.0  Sri Lanka   Colombo

In [229]:
repl_dict = {
    '*':'',
    'DNB':np.nan,
    'TDNB':np.nan,
    'DNF':np.nan,
    'TDNF':np.nan,
    '-':np.nan
}

In [233]:
allround.replace(repl_dict)

,Inns,Score,Overs,Conc,Wkts,Ct,St,Opposition,Ground,Start Date,match_id
0,1,12,NaN,NaN,NaN,NaN,NaN,ODI v Sri Lanka,Dambulla,18 Aug 2008,ODI # 2742
1,2,NaN,NaN,NaN,NaN,0,0,ODI v Sri Lanka,Dambulla,18 Aug 2008,ODI # 2742
2,1,NaN,NaN,NaN,NaN,3,0,ODI v Sri Lanka,Dambulla,20 Aug 2008,ODI # 2745
3,2,37,NaN,NaN,NaN,NaN,NaN,ODI v Sri Lanka,Dambulla,20 Aug 2008,ODI # 2745
4,1,25,NaN,NaN,NaN,NaN,NaN,ODI v Sri Lanka,Colombo (RPS),24 Aug 2008,ODI # 2750
...,...,...,...,...,...,...,...,...,...,...,...
1289,4,5,NaN,NaN,NaN,NaN,NaN,Test v Australia,Melbourne,26 Dec 2024,Test # 2571
1290,1,17,NaN,NaN,NaN,NaN,NaN,Test v Australia,Sydney,3 Jan 2025,Test # 2575
1291,2,NaN,NaN,NaN,NaN,1,0,Test v Australia,Sydney,3 Jan 2025,Test # 2575
1292,3,6,NaN,NaN,NaN,NaN,NaN,Test v Australia,Sydney,3 Jan 2025,Test # 2575
1293,4,NaN,NaN,NaN,NaN,0,0,Test v Australia,Sydney,3 Jan 2025,Test # 2575

In [234]:
kallis_tf.allroundstats[kallis_tf.allroundstats['Location'].isna()]

Empty DataFrame
Columns: [Match ID, Start Date, Format, Inns, Score, Overs, Conc, Wkts, Ct, St, Opposition, Location]
Index: []